<!DOCTYPE html>
<html lang="zxx">

<% include ./common/ejs/front/head.ejs%>
<style>
    .terms_termsContent__oxLXq {
        width: 100%;
        max-width: 1200px;
        margin: 32px auto 50px;
        border-radius: 4px;
        padding: 32px;
    }

    .terms_termsContent__oxLXq h1,.terms_termsContent__oxLXq h3 {

        font-size: 36px;
        font-weight: 700;
        line-height: 44px
    }

    .terms_termsContent__oxLXq h1 {
        margin-bottom: 14px
    }

    .terms_termsContent__oxLXq h3 {
        text-indent: -14px
    }

    .terms_termsContent__oxLXq p {

        margin-bottom: 0;
        line-height: 24px;
        font-size: 16px
    }

    .terms_termsContent__oxLXq a {

    }

    .terms_termsContent__oxLXq .terms_termsDate__9KJsa {
        margin-bottom: 32px;

        font-size: 16px
    }


    .terms_titleIntroduction__vLKc4 .terms_titleIntroduction2__cSvUe {
        margin-top: 32px;
        font-weight: 700
    }


    .terms_infoContent__CmoEg {
        width: 100%;
        margin-top: 64px
    }

    .terms_infoContent__CmoEg P {
        margin-top: 32px
    }

    .terms_infoContent__CmoEg P:first-child {
        margin-top: 0
    }



    .terms_infoContent__CmoEg ul li {
        list-style: disc
    }


    .terms_infoContent__CmoEg .terms_secondary__muEnv P:first-child {
        margin-top: 32px
    }

    .terms_infoContent__CmoEg .terms_secondary__muEnv .terms_ml24__JnohU {
        margin-left: 24px
    }

    .terms_infoContent__CmoEg .terms_fondFourth__1vGBn {
        margin-top: 16px;
        margin-left: 24px
    }

    .terms_infoContent__CmoEg .terms_fondItalic__ibmeH {
        font-style: italic;
        font-weight: 650
    }



    .terms_infoContent__CmoEg .terms_policySecond__5sGjt P:first-child {
        margin-top: 24px
    }



    .terms_infoContent__CmoEg .terms_policyThird__9Cvrr P:first-child {
        margin-top: 24px
    }


    .terms_important__Z2be0 div {
        font-size: 24px;
        display: flex;
        align-items: center
    }

    .terms_important__Z2be0 .terms_riskImportant__IxUTU {
        font-size: 16px
    }

    .terms_important__Z2be0 p {
        margin-top: 12px
    }

    .terms_fondBold__rI46d {
        font-weight: 700
    }

    .terms_title__xSY29 {
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 24px;

        margin-bottom: 32px
    }

    .terms_line__Fd3Q2 {
        width: 8px;
        height: 20px;

        display: inline-block;
        -webkit-margin-end: 8px;
        margin-inline-end:8px}


    .terms_riskIntroduction__yv_r_ {
        margin: 24px auto auto;
        padding: 0 35px
    }

    .terms_riskIntroduction__yv_r_ p {
        line-height: 40px
    }


    .terms_infoList__Je35l .terms_infoTitle__MN4PQ {
        font-size: 15px;

    }

    .terms_infoList__Je35l .terms_infoTitle__MN4PQ.terms_primaryText__7pIdN {

    }

    .terms_infoList__Je35l .terms_riskInfoTitle__hwB0b {
        font-size: 15px;
        font-weight: 400;

    }

    .terms_infoList__Je35l .terms_infoPrompt__5p7m0 {
        font-weight: 400;
        font-size: 13px;

        margin-top: 24px
    }

    .terms_infoList__Je35l .terms_infoPrompt__5p7m0.terms_primaryText__7pIdN {

    }

    .terms_lorePrompt__nf2PT {
        font-weight: 400;
        font-size: 13px
    }

    .terms_lorePrompt__nf2PT p {
        margin-top: 24px;

    }



    @media(max-width: 760px) {
        .terms_termsContent__oxLXq {
            padding:32px 16px
        }

        .terms_termsContent__oxLXq h1,.terms_termsContent__oxLXq h3 {
            font-size: 24px;
            text-indent: 0
        }

        .terms_termsContent__oxLXq .terms_title__xSY29 {
            font-size: 20px
        }

        .terms_termsContent__oxLXq .terms_riskIntroduction__yv_r_ {
            padding: 0 16px
        }
    }



    @media(max-width: 576px) {
        .terms_caveat__56_Tg {
            display:flex
        }

        .terms_caveat__56_Tg .iconfont {
            min-width: 14px;
            -webkit-margin-end: 4px;
            margin-inline-end:4px;margin-top: 2px
        }
    }
</style>
<body class="">

<div class="nk-wrap">
    <% include ./common/ejs/front/body-head.ejs%>
    <main class="nk-pages">
        <section class="section no-pd overflow-hidden">
            <div class="terms_termsContent__oxLXq">
                <h1>Privacy Policy</h1>
                <p class="terms_termsDate__9KJsa">Last Updated: 01 July, 2023</p>
                <div class="terms_infoContent__CmoEg">
                    <div class="terms_title__xSY29">
                        <span class="terms_line__Fd3Q2"></span>
                        <span>INTRODUCTION</span>
                    </div>
                    <p>Thank you for visiting <%-settings.WEBSITE_NAME%> Trading Platform (“<%-settings.WEBSITE_NAME%>”). By visiting, accessing, or using <%-settings.WEBSITE_NAME%> and associated application program interface or mobile applications (“Site”), you consent to the policies and practices of our privacy policy (the “Privacy Policy”), PLEASE READ THIS PRIVACY POLICY CAREFULLY. This Privacy Policy explains how <%-settings.WEBSITE_NAME%> uses your Personal Data (defined below) as we provide you with access and utility through our digital asset trading platform via software, API (application program interface), technologies, products and/or functionalities (“Service”). In the course of providing you our Service, to abide by the laws in the jurisdictions that we operate, and to improve our services, we need to collect and maintain personal information about you. As a rule, we never disclose any personal information about our customers to any non-affiliated third parties, except as described below. We may update this Privacy Policy at any time and from time to time by posting the amended version on this site.</p>
                </div>
                <div class="terms_infoContent__CmoEg">
                    <div class="terms_title__xSY29">
                        <span class="terms_line__Fd3Q2"></span>
                        <span>DATA WE COLLECT</span>
                    </div>
                    <p><%-settings.WEBSITE_NAME%> collects, processes, and stores Personal Data collected from you via your use of the Service or where you have given your consent. This Personal Data may include:</p>
                    <div class="terms_policySecond__5sGjt">
                        <p>-Virtual Identity: <%-settings.WEBSITE_NAME%> Account/ Password, <%-settings.WEBSITE_NAME%> Nickname.</p>
                        <p>-Financial Information: Bank account information, payment card primary account number (PAN), account assets, transaction history, trading data, and/or tax identification.</p>
                        <p>-Transaction Information: Information about the transactions you make on the Platform, such as the name of the recipient, your name, the amount, and/or timestamp.</p>
                        <p>-Message Content: Feedback, Email, SMS, App Rating, Comments.</p>
                        <p>-Application Activity: Browsers and tap records, search history, installed apps, running apps, crash logs, user-generated content, favorites, mouse movement, scroll position, key events, and touch events.</p>
                        <p>-Device Information: Carrier, brand, software version, model name, manufacturer, system language, OS version, locale, fingerprint, Build ID, baseband version, SIM country, SIM serial number, battery status, network, OAID, IMEI, GUID, MAC address, Android ID, SSID, Advertising ID and gyroscope/accelerometer data.</p>
                        <p>-Correspondence: Survey responses, information provided to our support team or user research team.</p>
                        <p>-Audio, electronic, visual and similar information, such as call and video recordings.</p>
                        <p>-Biometric data about yourself, including facial recognition data, fingerprint data, or other biometric data that may be used as a method of authentication on the Device used to access the Platform.</p>
                    </div>
                    <p>We may collect information you provide during the <%-settings.WEBSITE_NAME%> onboarding process, which may be a completed, incomplete, or abandoned process. Offering services to residents in certain jurisdictions, we collect, store, and process your personal information in accordance with the provisions of your local data protection laws such as <span class="terms_fondBold__rI46d">General Data Protection Regulation (GDPR)</span> and Data Protection Act. </p>
                    <p>In addition, in order to stay in compliance to applicable Anti-Money Laundering laws and regulations, we may collect the following Personal Information:</p>
                    <div class="terms_policyThird__9Cvrr">
                        <p>Individual customers:</p>
                        <p>-Email address</p>
                        <p>-Mobile phone number</p>
                        <p>-Full legal name (including former name, and names in local language)</p>
                        <p>-Nationality</p>
                        <p>-Passport number, or any government issued ID number</p>
                        <p>-Date of birth (“DOB”)</p>
                        <p>-Proof of identity (e.g. passport, driver’s license, or government-issued ID)</p>
                        <p>-Residential address</p>
                        <p>-Proof of residency</p>
                        <p>-Additional Personal Data or documentation at the discretion of our Compliance Team</p>
                    </div>
                    <div class="terms_policyThird__9Cvrr">
                        <p>Corporate customers:</p>
                        <p>-Corporate legal name (including the legal name in local language)</p>
                        <p>-Incorporation/registration Information</p>
                        <p>-Full legal name of all beneficial owners, directors, and legal representatives</p>
                        <p>-Address (principal place of business and/or other physical locations)</p>
                        <p>-Proof of legal existence</p>
                        <p>-Description of the business</p>
                        <p>-Percentage of ownership for Individual/corporate owners</p>
                        <p>-Contact information of owners, principals, and executive management (as applicable)</p>
                        <p>-Proof of identity (e.g., passport, driver’s license, or government-issued ID) for significant individual beneficial owner of the institutional customer entity</p>
                        <p>-Personal Data for each entity’s significant beneficial owner of the institutional customer entity (see the “Individual Customer” section above for details on what Personal Data we collect for individuals)</p>
                        <p>-Source of wealth</p>
                        <p>-Amount of bitcoin or other digital assets projected to be injected</p>
                    </div>
                </div>
                <div class="terms_infoContent__CmoEg">
                    <div class="terms_title__xSY29">
                        <span class="terms_line__Fd3Q2"></span>
                        <span>ACCESS, CORRECTION, DELETION AND OTHER RIGHTS RELATING TO YOUR PERSONAL DATA</span>
                    </div>
                    <p>Subject to applicable law, as outlined below, you have a number of rights in relation to your privacy and the protection of your Personal Data. You have the right to request access to, correct, and delete your Personal Data, and to ask for data portability. You may also object to our processing of your Personal Data or ask that we restrict the processing of your Personal Data in certain instances. In addition, when you consent to our processing of your Personal Data for a specified purpose, you may withdraw your consent at any time. If you want to exercise any of your rights outlined below, please contact our Data Protection Officer by email via: <a target="_blank" href="mailto:dataprotect@<%-settings.WEBSITE_NAME%>.com" rel="noopener noreferrer">dataprotect@<%-settings.WEBSITE_NAME%>.com</a>. These rights may be limited in some situations - for example, where we are required by applicable laws or AML compliance practices to process your Personal Data. </p>
                    <p>
                        <span class="terms_fondBold__rI46d">-Right to access:</span> you have the right to obtain confirmation that your Personal Data are processed and to obtain a copy of it as well as certain information related to its processing;
                    </p>
                    <p>
                        <span class="terms_fondBold__rI46d">-Right to rectify:</span> you can request the rectification of your Personal Data which are inaccurate, and also add to it. You can also change your Personal Data in your Account at any time.
                    </p>
                    <p>
                        <span class="terms_fondBold__rI46d">-Right to delete:</span> you can, in some cases, have your Personal Data deleted;
                    </p>
                    <p>
                        <span class="terms_fondBold__rI46d">-Right to object:</span> you can object, for reasons relating to your particular situation, to the processing of your Personal Data. For instance, you have the right to object where we rely on legitimate interest or where we process your Personal Data for direct marketing purposes;
                    </p>
                    <p>
                        <span class="terms_fondBold__rI46d">-Right to restrict processing:</span> You have the right, in certain cases, to temporarily restrict the processing of your Personal Data by us, provided there are valid grounds for doing so. We may continue to process your Personal Data if it is necessary for the defense of legal claims, or for any other reasons permitted by applicable law;
                    </p>
                    <p>
                        <span class="terms_fondBold__rI46d">-Right to portability:</span> in some cases, you can ask to receive your Personal Data which you have provided to us in a structured, commonly used and machine-readable format, or, when this is possible, that we communicate your Personal Data on your behalf directly to another data controller;
                    </p>
                    <p>
                        <span class="terms_fondBold__rI46d">-Right to withdraw your consent:</span> for processing requiring your consent, you have the right to withdraw your consent at any time. Exercising this right does not affect the lawfulness of the processing based on the consent given before the withdrawal of the latter.
                    </p>
                    <p>Exercising of your rights above may impact the form and substance of the Services we provide to you, and in some circumstances, such exercise may mean that we will not be able to continue providing the Services to you, and we may need to terminate the contract you have with us.</p>
                    <p>We may charge you a reasonable fee for the handling and processing of your requests to access your personal data. If we choose to charge a fee, we will provide you with a written estimate of the fee that we will be charging. Please note that we are not required to respond to or deal with your request for access unless you have agreed to pay the fee.</p>
                </div>
                <div class="terms_infoContent__CmoEg">
                    <div class="terms_title__xSY29">
                        <span class="terms_line__Fd3Q2"></span>
                        <span>COLLECTION OF PERSONAL DATA</span>
                    </div>
                    <p>You will directly provide us with most of the personal information we are collecting. In the following situations, we will collect and process your information:</p>
                    <div class="terms_secondary__muEnv">
                        <p>(a) When you sign up online, log in or access <%-settings.WEBSITE_NAME%>, or use any <%-settings.WEBSITE_NAME%> service;</p>
                        <p>(b) When you voluntarily complete any user survey or provide feedback to us, through email or any other channel;</p>
                        <p>(c) Cookies through your browser or software when you use or browse our web pages or clients.</p>
                        <p>(d) Other situations of self-collecting information mentioned in this agreement.</p>
                    </div>
                    <p>We may also obtain information from public channels or third-party channels, such as our advertising and market research partners, including updating or supplementing other collected information about you.</p>
                </div>
                <div class="terms_infoContent__CmoEg">
                    <div class="terms_title__xSY29">
                        <span class="terms_line__Fd3Q2"></span>
                        <span>USE OF PERSONAL DATA</span>
                    </div>
                    <p>We can use your Personal Data in the following ways:</p>
                    <p class="terms_fondBold__rI46d">(a) Compliance with laws and regulations</p>
                    <p class="terms_fondFourth__1vGBn">Most of our services are subject to laws and regulations, requiring us to collect, use and store your Personal Data in specific ways. For example, <%-settings.WEBSITE_NAME%> must identify and verify customers that are using our services comply with cross-jurisdictional anti-money laundering laws. This includes collecting and storing photos of your ID. We will have to close your account if you do not provide the personal information as required by law,.</p>
                    <p class="terms_fondBold__rI46d">(b) Enforce the terms of this agreement</p>
                    <p class="terms_fondFourth__1vGBn">We actively monitor, investigate, prevent and mitigate any potential prohibited or illegal activities, enforce our agreements with third parties, and prevent and inspect violations of this Agreement. In addition, we may need to charge you for your use of our services. We collect information about your account usage and closely monitor your interactions with our services. We may use any personal information we collected about you for these purposes.</p>
                    <p class="terms_fondBold__rI46d">(c) Detection and prevention of fraud and/or loss of funds</p>
                    <p class="terms_fondFourth__1vGBn">We process your personal information to help detect, prevent and reduce fraud and abuse of our services, and to protect your account security.</p>
                    <p class="terms_fondBold__rI46d">(d) Provide services</p>
                    <p class="terms_fondFourth__1vGBn">We will require access to your personal information in order to provide you with services. For example, when you wish to use the OTC service on our platform, we will require specific information such as your identity, contact information, and payment information, or we cannot provide you with services without such information. Third parties such as identity verification service providers may also collect your personal information when providing identity verification and/or fraud prevention services.</p>
                    <p class="terms_fondBold__rI46d">(e) Provide service communication</p>
                    <p class="terms_fondFourth__1vGBn">We will send you management or account-related information to let you know about the latest information about our services, to notify you of related security issues or updates, or to provide other trade-related information. Without these communications, you may not be aware of the important developments related to your account, which may affect your use of our services. You cannot choose to refuse to receive critical service communications, such as emails or text messages sent for legal or security purposes.</p>
                    <p class="terms_fondBold__rI46d">(f) Provide customer service</p>
                    <p class="terms_fondFourth__1vGBn">We will access to your personal information when you contact us to resolve any issues. We will not be able to respond to your request and ensure that you use the service uninterrupted if you do not process your personal information.</p>
                    <p class="terms_fondBold__rI46d">(g) Ensure network and information security</p>
                    <p class="terms_fondFourth__1vGBn">We will process your personal information to improve security, monitor and verify your identity and access to our services, combat spam or other malicious software or security risks, and comply with applicable security laws and regulations. It is especially important that we obtain timely and accurate information about how you use our services. We may not be able to ensure the security of our services if you do not process your personal information.</p>
                    <p class="terms_fondBold__rI46d">(h) For research and development</p>
                    <p class="terms_fondFourth__1vGBn">We will access your personal information to better understand how you use and interact with our services. In addition, we will also use this information to customize and improve the content and layout of our services, as well as to develop further services. We may not be able to ensure that you will be able to continue to enjoy our services if you do not process your personal information.</p>
                    <p class="terms_fondBold__rI46d">(i) Enhance your experience</p>
                    <p class="terms_fondFourth__1vGBn">We will access your personal information to provide you with a personalized experience and to fulfill your needs. For example, you can allow us to access certain personal information stored by third parties. We may not be able to ensure that you can continue to enjoy some or all of our services if you do not process your personal information.</p>
                    <p class="terms_fondBold__rI46d">(j) To facilitate company acquisitions, mergers or trades</p>
                    <p class="terms_fondFourth__1vGBn">We may access any information about your account and your use of our services in the event of a corporate acquisition, merger or other corporate transaction. If you do not wish for your personal information to be processed for these purposes, you may choose to close your account.</p>
                    <p class="terms_fondBold__rI46d">(k) Engage in marketing activities</p>
                    <p class="terms_fondFourth__1vGBn">
                    <p>We may send you marketing communications (such as emails or text messages) to inform you about our events or the activities of our partners, to provide targeted marketing, and to offer you promotional offers. Our marketing strategy will be based on your advertising and marketing preferences and as permitted by applicable law. If you do not wish for us to send you marketing information, please submit a request to our Personal Data Protection Officer at <a target="_blank" href="mailto:dataprotect@<%-settings.WEBSITE_NAME%>.com" rel="noopener noreferrer">dataprotect@<%-settings.WEBSITE_NAME%>.com</a>. </p>
                    <p>(l) For any other purpose</p>
                    <p>We may disclose your personal information for any purpose that you have consented to.</p>
                    <p class="terms_fondBold__rI46d">Notwithstanding the foregoing, we may also share your Personal Data to the below persons or entities under circumstances specified below:</p>
                    <p class="terms_fondFourth__1vGBn">(a) Affiliates: </p>
                    <p>Personal information that we process and collect may be transferred between <%-settings.WEBSITE_NAME%> companies as a normal part of conducting business and offering our Services to you.</p>
                    <p class="terms_fondBold__rI46d">(b) Third party service providers: </p>
                    <p class="terms_fondFourth__1vGBn">We employ other companies and individuals to perform functions on our behalf. Examples include analysing data, providing marketing assistance, processing payments, transmitting content, assessing and managing credit risk, and coding and developing of <%-settings.WEBSITE_NAME%> related mobile and/or other forms of portable applications (including <%-settings.WEBSITE_NAME%> application on Google Play - Developer Name: <%-settings.WEBSITE_NAME%>; Developer ID: 7724732378084052863). These third-party service providers only have access to personal information needed to perform their functions but may not use it for other purposes. Further, they must process the personal information in accordance with our contractual agreements and only as permitted by applicable data protection laws.</p>
                    <p class="terms_fondBold__rI46d">(c) Legal Authorities: </p>
                    <p class="terms_fondFourth__1vGBn">We may be required by law or by Court to disclose certain information about you or any engagement we may have with you to relevant regulatory, law enforcement and/or other competent authorities. We will disclose information about you to legal authorities to the extent we are obliged to do so according to the law. We may also need to share your information in order to enforce or apply our legal rights or to prevent fraud.</p>
                    <p class="terms_fondBold__rI46d">(d) Business transfers: </p>
                    <p class="terms_fondFourth__1vGBn">As we continue to develop our business, we might sell or buy other businesses or services. In such transactions, user information generally is one of the transferred business assets but remains subject to the promises made in any pre-existing Privacy Notice (unless, of course, the user consents otherwise). Also, in the unlikely event that <%-settings.WEBSITE_NAME%> or substantially all of its assets are acquired by a third party, user information will be one of the transferred assets.</p>
                    <p class="terms_fondBold__rI46d">(e) Protection of <%-settings.WEBSITE_NAME%> and others: </p>
                    <p class="terms_fondFourth__1vGBn">We release accounts and other personal information when we believe release is appropriate to comply with the law or with our regulatory obligations; enforce or apply our User Agreement and other agreements; or protect the rights, property or safety of <%-settings.WEBSITE_NAME%>, our users or others. This includes exchanging information with other companies and organisations for fraud protection and credit risk reduction.</p>
                    <p class="terms_fondBold__rI46d"><%-settings.WEBSITE_NAME%> will not provide, sell, lease, share or trade your personal information to any unrelated third party, unless we have obtained your prior consent, unless the third party and <%-settings.WEBSITE_NAME%> (including our affiliates) individually or jointly has provided the service to you, and after the end of the service, the access to such information, including all information that was once previously accessible, will be denied. <%-settings.WEBSITE_NAME%> also does not allow any third parties to collect, edit, sell or distribute your personal information by any means. If any <%-settings.WEBSITE_NAME%> user engages in the above activities, upon discovery, <%-settings.WEBSITE_NAME%> has the right to terminate the service agreement with the user immediately.</p>
                    <p class="terms_fondFourth__1vGBn">If you are not a natural person with full capacity for civil rights and civil conduct, you are not authorized to use the service. Henceforth, <%-settings.WEBSITE_NAME%> hopes that you do not provide any of your personal information.</p>
                </div>
                <div class="terms_infoContent__CmoEg">
                    <div class="terms_title__xSY29">
                        <span class="terms_line__Fd3Q2"></span>
                        <span>INFORMATION STORAGE</span>
                    </div>
                    <p>The information and materials we collect about you will be kept on the servers of <%-settings.WEBSITE_NAME%> and/or its affiliated companies, and may be transferred to countries, regions or places outside of the country where the information and materials were collected by <%-settings.WEBSITE_NAME%>, and may be visited, stored and displayed outside the country where it originated from. By submitting your personal data, you agree to this transfer, storing and/or processing. More information about the transfer out of the EU, of personal data and/or information relating to users who are located in the EU, can be found in the section titled "Additional Provisions for EU Users Only".</p>
                </div>
                <div class="terms_infoContent__CmoEg">
                    <div class="terms_title__xSY29">
                        <span class="terms_line__Fd3Q2"></span>
                        <span>CROSS-BORDER TRANSFER OF INFORMATION</span>
                    </div>
                    <p>To facilitate our global operations, <%-settings.WEBSITE_NAME%> may transfer your personal information outside of the European Economic Area (“EEA”). Transfers outside of the EEA are sometimes referred to as “third country transfers”.</p>
                    <p>We may transfer your personal information to our Affiliates, third-party partners, and service providers based throughout the world. In cases where we intend to transfer personal information to third countries or international organisations outside of the EEA, <%-settings.WEBSITE_NAME%> puts in place suitable technical, organizational and contractual safeguards (including Standard Contractual Clauses), to ensure that such transfer is carried out in compliance with applicable data protection rules.</p>
                    <p>We also rely on decisions from the European Commission where they recognise that certain countries and territories outside of the European Economic Area ensure an adequate level of protection for personal information. These decisions are referred to as “adequacy decisions”.</p>
                </div>
                <div class="terms_infoContent__CmoEg">
                    <div class="terms_title__xSY29">
                        <span class="terms_line__Fd3Q2"></span>
                        <span>COOKIES</span>
                    </div>
                    <p>
                        <span class="terms_fondBold__rI46d">Installation of Cookies.</span> When you visit the Platform, the Platform will use Google Stats via Cookies to record the Platform’s performance and check the effectiveness of online advertising. Cookies are a small amount of data that is sent to your browser and stored in your computer hard drive. Only when you use your computer to access the Platform can the Cookies be sent to your computer hard drive.
                    </p>
                    <p>
                        <span class="terms_fondBold__rI46d">Function of Cookies.</span> Cookies are frequently used to record the habits and preferences of visitors when they browse various items on the Platform. Cookies collect anonymous collective statistics which do not contain Personal Data. Cookies cannot be used to obtain data from your hard drive, your email address or Personal Data; they can enable the Platform or a service provider’s system to recognize your web browser as well as capture and remember information.
                    </p>
                    <p>
                        <span class="terms_fondBold__rI46d">Disabling Cookies.</span> Most browsers are preset to accept Cookies and you can choose to set their web browsers to reject Cookies or to notify you upon the installation of Cookies. You should be aware that they may be unable to start or use certain features of the Platform if they opt to disable Cookies. However, if you choose to reject the cookies, you may not be able to log in or use our platform services or functions that rely on such cookies. This paragraph shall apply to any relevant information obtained through cookies set forth by <%-settings.WEBSITE_NAME%> .
                    </p>
                </div>
                <div class="terms_infoContent__CmoEg">
                    <div class="terms_title__xSY29">
                        <span class="terms_line__Fd3Q2"></span>
                        <span>INFORMATION SECURITY</span>
                    </div>
                    <p>Your account is secure and protected, please preserve your account and password information properly. We will ensure that your information is not lost, abused and altered by storing backups of other servers and encrypting the user passwords. In spite of the aforementioned security measures, please note that there are no "perfect security measures" on the information network. When using our platform services for online trades, you will inevitably disclose your personal information, such as contact information or postal address, to the counterparty or other potential counterparties. Please protect your personal information and provide it to others only if necessary. If you find that your personal information have been leaked, especially your account and password, please contact our customer service immediately so that we can take appropriate measures.</p>
                    <p>We will retain personal data in accordance with the Personal Data Protection Act and/or other applicable laws. That is, we will destroy or anonymize your personal data when we have reasonably determined that (i) the purpose for which that the personal data was collected is no longer being served by the retention of such personal data; (ii) retention is no longer necessary for any legal or business purposes; and (iii) no other legitimate interests warrant further retention of such personal data. If you cease to use our Services, we may continue storing, using and/or disclosing your personal data in accordance with this Privacy Policy and our obligations under the Personal Data Protection Act and/or other applicable laws.</p>
                </div>
                <div class="terms_infoContent__CmoEg">
                    <div class="terms_title__xSY29">
                        <span class="terms_line__Fd3Q2"></span>
                        <span>ACCOUNT DELETION</span>
                    </div>
                    <p>You may delete your <%-settings.WEBSITE_NAME%> account at any time, the consequences of account deletion include but not limited to the following:</p>
                    <div class="terms_secondary__muEnv">
                        <p>(a) You will lose all digital assets and data contained in this account.</p>
                        <p>(b) You will not be able to recover the personal information, transaction records, business data, and historical information under the account.</p>
                        <p>(c) You will not be able to use this account to log in to <%-settings.WEBSITE_NAME%>’s services.</p>
                    </div>
                    <div class="terms_important__Z2be0">
                        <div class="terms_fondBold__rI46d">
                            <svg class="sc-gEvEer hSTeNi mx-icon terms_icons__cUYKo" focusable="false" width="1em" height="1em" fill="currentColor" aria-hidden="true" viewBox="0 0 16 16" data-icon="IconWarning">
                                <path id="Subtract" fill-rule="evenodd" clip-rule="evenodd" d="M16 8C16 12.4183 12.4183 16 8 16C3.58172 16 0 12.4183 0 8C0 3.58172 3.58172 0 8 0C12.4183 0 16 3.58172 16 8ZM6.85703 3.42852H9.14275V9.1428H6.85703V3.42852ZM9.14275 10.2855H6.85703V12.5713H9.14275V10.2855Z" fill="currentColor"></path>
                            </svg>IMPORTANT
                        </div>
                        <p>The account cannot be recovered once it is deleted. To protect your rights, we will remind you of the risks again after you select the button to Delete Account.</p>
                    </div>
                    <p>The deletion of your account does not mean that all your account operations and responsibilities before account deletion are exempted or mitigated. All records and information associated with your account will be deleted. However, we may retain certain information of your account as required by applicable law and regulations.</p>
                </div>
                <div class="terms_infoContent__CmoEg">
                    <div class="terms_title__xSY29">
                        <span class="terms_line__Fd3Q2"></span>
                        <span>EU-ONLY PROVISIONS</span>
                    </div>
                    <p>The provisions in this Section only apply if you are a user who is located in the European Union ("EU"). These provisions take precedence over any inconsistent provisions in the remainder of this Privacy Policy.</p>
                    <p>Your Personal Data may be transferred outside of the EU. In such cases, we take all reasonable precautions to apply the appropriate or suitable safeguards set forth by the GDPR, for example, we implemented measures such as appropriate contractual clauses to ensure that the recipients of such transfers will protect and treat your personal data in accordance with all applicable personal data protection laws.</p>
                    <p>You are entitled to exercise the following rights in accordance with the GDPR:</p>
                    <div class="terms_secondary__muEnv">
                        <p>a) The right to access the personal information concerning themselves, to correct or rectify inaccurate information and, when applicable, to object to data processing; b) the right of erasure of those data that either have been collected solely based on your consent, or they are no longer needed to perform the purpose(s) for which they were collected for;</p>
                        <p>b) The right of erasure of those data that either have been collected solely based on your consent, or they are no longer needed to perform the purpose(s) for which they were collected;</p>
                        <p>c) The right to restrict processing when such data are no longer needed to perform the purpose(s) for which they were collected;</p>
                        <p>d) The right to have personal information provided in a structured, commonly used and machine-readable format;</p>
                        <p>e) The right to withdraw consent at any time and without any detriment, as long as the personal data processing is based exclusively on your consent.</p>
                    </div>
                </div>
                <div class="terms_infoContent__CmoEg">
                    <div class="terms_title__xSY29">
                        <span class="terms_line__Fd3Q2"></span>
                        <span>CONTACT</span>
                    </div>
                    <p>Our data protection officer can be contacted via email at <a target="_blank" href="mailto:dataprotect@<%-settings.WEBSITE_NAME%>.com" rel="noopener noreferrer">dataprotect@<%-settings.WEBSITE_NAME%>.com</a> and will work to address any questions or issues that you have with respect to the collection and processing of your personal information </p>
                </div>
                <div class="terms_infoContent__CmoEg">
                    <div class="terms_title__xSY29">
                        <span class="terms_line__Fd3Q2"></span>
                        <span>NOTICES AND REVISIONS</span>
                    </div>
                    <p>If you have any concerns about privacy at <%-settings.WEBSITE_NAME%>, please do not hesitate to contact, we aim to respond to your enquiries as soon as reasonably practicable.</p>
                    <p>Our business changes regularly, and our Privacy Notice may change too. You should check our websites frequently to see recent changes. Unless stated otherwise, our current Privacy Notice applies to all information that we have about you and your account.</p>
                    <p>Our Privacy Notice is unrelated to Privacy Notice or Policy of any third parties, such as Trading View or other parties not privy to this Privacy Notice.</p>
                </div>
            </div>
        </section>

    </main>
    <% include ./common/ejs/front/footer.ejs%>
</div>

<div class="preloader preloader-alt no-split"><span class="spinner spinner-alt"><img class="spinner-brand" src="front/images/logo-full-white.png" alt=""></span></div>

<script src="front/assets/js/jquery.bundle.js?ver=210"></script>
<script src="front/assets/js/scripts.js?ver=210"></script>
<script src="front/assets/js/charts.js?ver=210"></script>
<%-settings.TIDIO_URL%>
</body>

</html>