<!DOCTYPE html>
<html lang="zxx">

<% include ./common/ejs/front/head.ejs%>
<style>
    .terms_termsContent__oxLXq {
        width: 100%;
        max-width: 1200px;
        margin: 32px auto 50px;
        border-radius: 4px;
        padding: 32px;
    }

    .terms_termsContent__oxLXq h1,.terms_termsContent__oxLXq h3 {

        font-size: 36px;
        font-weight: 700;
        line-height: 44px
    }

    .terms_termsContent__oxLXq h1 {
        margin-bottom: 14px
    }

    .terms_termsContent__oxLXq h3 {
        text-indent: -14px
    }

    .terms_termsContent__oxLXq p {

        margin-bottom: 0;
        line-height: 24px;
        font-size: 16px
    }

    .terms_termsContent__oxLXq a {

    }

    .terms_termsContent__oxLXq .terms_termsDate__9KJsa {
        margin-bottom: 32px;

        font-size: 16px
    }


    .terms_titleIntroduction__vLKc4 .terms_titleIntroduction2__cSvUe {
        margin-top: 32px;
        font-weight: 700
    }


    .terms_infoContent__CmoEg {
        width: 100%;
        margin-top: 64px
    }

    .terms_infoContent__CmoEg P {
        margin-top: 32px
    }

    .terms_infoContent__CmoEg P:first-child {
        margin-top: 0
    }



    .terms_infoContent__CmoEg ul li {
        list-style: disc
    }


    .terms_infoContent__CmoEg .terms_secondary__muEnv P:first-child {
        margin-top: 32px
    }

    .terms_infoContent__CmoEg .terms_secondary__muEnv .terms_ml24__JnohU {
        margin-left: 24px
    }

    .terms_infoContent__CmoEg .terms_fondFourth__1vGBn {
        margin-top: 16px;
        margin-left: 24px
    }

    .terms_infoContent__CmoEg .terms_fondItalic__ibmeH {
        font-style: italic;
        font-weight: 650
    }



    .terms_infoContent__CmoEg .terms_policySecond__5sGjt P:first-child {
        margin-top: 24px
    }



    .terms_infoContent__CmoEg .terms_policyThird__9Cvrr P:first-child {
        margin-top: 24px
    }


    .terms_important__Z2be0 div {
        font-size: 24px;
        display: flex;
        align-items: center
    }

    .terms_important__Z2be0 .terms_riskImportant__IxUTU {
        font-size: 16px
    }

    .terms_important__Z2be0 p {
        margin-top: 12px
    }

    .terms_fondBold__rI46d {
        font-weight: 700
    }

    .terms_title__xSY29 {
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 24px;

        margin-bottom: 32px
    }

    .terms_line__Fd3Q2 {
        width: 8px;
        height: 20px;

        display: inline-block;
        -webkit-margin-end: 8px;
        margin-inline-end:8px}


    .terms_riskIntroduction__yv_r_ {
        margin: 24px auto auto;
        padding: 0 35px
    }

    .terms_riskIntroduction__yv_r_ p {
        line-height: 40px
    }


    .terms_infoList__Je35l .terms_infoTitle__MN4PQ {
        font-size: 15px;

    }

    .terms_infoList__Je35l .terms_infoTitle__MN4PQ.terms_primaryText__7pIdN {

    }

    .terms_infoList__Je35l .terms_riskInfoTitle__hwB0b {
        font-size: 15px;
        font-weight: 400;

    }

    .terms_infoList__Je35l .terms_infoPrompt__5p7m0 {
        font-weight: 400;
        font-size: 13px;

        margin-top: 24px
    }

    .terms_infoList__Je35l .terms_infoPrompt__5p7m0.terms_primaryText__7pIdN {

    }

    .terms_lorePrompt__nf2PT {
        font-weight: 400;
        font-size: 13px
    }

    .terms_lorePrompt__nf2PT p {
        margin-top: 24px;

    }



    @media(max-width: 760px) {
        .terms_termsContent__oxLXq {
            padding:32px 16px
        }

        .terms_termsContent__oxLXq h1,.terms_termsContent__oxLXq h3 {
            font-size: 24px;
            text-indent: 0
        }

        .terms_termsContent__oxLXq .terms_title__xSY29 {
            font-size: 20px
        }

        .terms_termsContent__oxLXq .terms_riskIntroduction__yv_r_ {
            padding: 0 16px
        }
    }



    @media(max-width: 576px) {
        .terms_caveat__56_Tg {
            display:flex
        }

        .terms_caveat__56_Tg .iconfont {
            min-width: 14px;
            -webkit-margin-end: 4px;
            margin-inline-end:4px;margin-top: 2px
        }
    }
</style>
<body>
<div class="nk-wrap">
    <% include ./common/ejs/front/body-head.ejs%>
    <main class="nk-pages">

        <section class="section no-pd overflow-hidden">
            <div class="terms_termsContent__oxLXq">
                <h1>User Agreement</h1>
                <p class="terms_termsDate__9KJsa">Last Updated: 01 July, 2023</p>
                <div class="terms_titleIntroduction__vLKc4">
                    <p>This User Agreement is concluded between you (&quot;You&quot; or &quot;User&quot;) and <%-settings.WEBSITE_NAME%> Trading Platform (&quot;we&quot;, &quot;us&quot;, &quot;our&quot;, &quot;ours&quot;, &quot;<%-settings.WEBSITE_NAME%>&quot;, or, the &quot;Platform&quot;). By using,
                        accessing, or attempting to use or access <%-settings.WEBSITE_NAME%> website <a target="_blank" href="https://www.<%-settings.WEBSITE_NAME%>.com" rel="noopener noreferrer">(https://www.<%-settings.WEBSITE_NAME%>.com)</a>, Apps and any other services provided by <%-settings.WEBSITE_NAME%> or affiliated companies thereof
                        (the &quot;Services&quot;), it will be deemed that you have read and agreed to all the terms and conditions specified in this User Agreement and Privacy Policy (&quot;Agreement&quot;), as well as the amendments and updates which we
                        may make thereto, and any other agreements, terms, conditions, guidelines, rules, or written instructions, as published by <%-settings.WEBSITE_NAME%> on its website, Apps, or other Services and amendments and changes thereto, from time to time (altogether
                        as the &quot;Legal Documents&quot;). If you do not agree or otherwise understand the nature of this Agreement and the Legal Documents, do not access <%-settings.WEBSITE_NAME%> or use the corresponding <%-settings.WEBSITE_NAME%> Services.</p>
                    <p class="terms_titleIntroduction2__cSvUe">BY MAKING USE OF <%-settings.WEBSITE_NAME%> SERVICES, YOU ACKNOWLEDGE AND AGREE THAT: (1) YOU ARE AWARE OF THE RISKS ASSOCIATED WITH TRANSACTIONS OF DIGITAL ASSETS AND THEIR DERIVATIVES; (2) YOU SHALL ASSUME ALL RISKS RELATED TO THE USE OF <%-settings.WEBSITE_NAME%> SERVICES AND
                        TRANSACTIONS OF DIGITAL ASSETS AND THEIR DERIVATIVES; AND (3) <%-settings.WEBSITE_NAME%> SHALL NOT BE LIABLE FOR ANY SUCH RISKS OR ADVERSE OUTCOMES.</p>
                </div>
                <div class="terms_infoContent__CmoEg">
                    <div class="terms_title__xSY29"><span class="terms_line__Fd3Q2"></span><span>IMPORTANT</span></div>
                    <p>It is your sole responsibility ensure that the computer used for the trade and liquidity of Digital Assets is secure. Due to web page display and safety considerations, it is strongly recommended that Users utilize the latest version of
                        Google Chrome to login to <%-settings.WEBSITE_NAME%>. Users shall bear the responsibility themselves for the losses or damages suffered as a result thereof.</p>
                </div>
                <div class="terms_infoContent__CmoEg">
                    <div class="terms_title__xSY29"><span class="terms_line__Fd3Q2"></span><span>PROHIBITED COUNTRIES</span></div>
                    <p>1) You must ensure that you are not resident of Prohibited Countries. Currently, <%-settings.WEBSITE_NAME%> does not provide Services, nor do we accept registration of Users or trade applications, in the following countries: North Korea, Cuba, Sudan, Syria,
                        Iran, Crimea, Mainland China, Indonesia, Singapore, Venezuela, the United States, and Canada (altogether referred to as &#x27;Prohibited Countries&#x27;). For the sake of clarification, the Prohibited Countries list is non-exclusive
                        and is subject to change, at any time and from time to time, by <%-settings.WEBSITE_NAME%> in its absolute sole discretion may decide, taking into account legal and compliance considerations. You understand and acknowledge that if it is determined that
                        you have given false representations of your location or place of residence, we reserve the right to take any appropriate actions in compliance with applicable laws and regulations, including termination of any Account immediately
                        and liquidating any open positions. You undertake to inform <%-settings.WEBSITE_NAME%> at the earliest possible opportunity if you have become resident in any of the foregoing Prohibited Countries.</p>
                </div>
                <div class="terms_infoContent__CmoEg">
                    <div class="terms_title__xSY29"><span class="terms_line__Fd3Q2"></span><span>RISK DISCLOSURE</span></div>
                    <p>2) Notwithstanding our Risk Disclosure Statement available at: <a target="_blank" href="https://www.<%-settings.WEBSITE_NAME%>.com/risk" rel="noopener noreferrer">https://www.<%-settings.WEBSITE_NAME%>.com/risk</a> to further your understanding of the risks associated with trading
                        in Digital Assets, <%-settings.WEBSITE_NAME%> hereby reminds you of the following:</p>
                    <p>YOU MUST FULLY UNDERSTAND AND ASSESS THE RISKS IN DIGITAL ASSETS TRADING BEFORE CONDUCTING ANY TRADING ACTIVITIES OR USING OUR SERVICES; YOU MUST ASSESS YOUR RISK TOLERANCE CAREFULLY BEFORE ENGAGING IN DIGITAL ASSETS TRADINGS.</p>
                    <p>3) Notwithstanding the foregoing, when using our Services, you may face risks regarding policy, regulatory compliance, investment yield, trading, and force majeure, etc, the non-exhaustive details of which are as follows:</p>
                    <div class="terms_secondary__muEnv">
                        <p>(a) POLICY RISK: Users of <%-settings.WEBSITE_NAME%> may encounter losses due to the amendment of national laws, regulations or macro-policies which may influence the normal trade of Digital Assets.</p>
                        <p>(b) COMPLIANCE RISK: Users of <%-settings.WEBSITE_NAME%> may encounter losses if the User’s Digital Assets trade violates national laws or regulations.</p>
                        <p>(c) INVESTMENT YIELD RISK: the Digital Asset market has its uniqueness: it never closes, with Digital Assets prices fluctuating in a very wide range. Users may encounter losses in the market.</p>
                        <p>(d) TRADING RISK: Your successful transfer is dependent on mutual assent of the parties to the transfer and <%-settings.WEBSITE_NAME%> does not commit to or guarantee any successful transfer.</p>
                        <p>(e) FORCE MAJEURE RISK: When natural disasters, war, strikes, cyber attacks and other unpredictable, unavoidable and unformidable situations occur, <%-settings.WEBSITE_NAME%> may not be able to operate normally and this may result in Users&#x27; losses.
                            For the User’s losses caused by force majeure, <%-settings.WEBSITE_NAME%> will not assume any civil liabilities.</p>
                        <p>(f) RISK OF DELISTING: When a Digital Assets project party faces bankruptcy, liquidation and dissolution, or violates national laws &amp; regulations, or under the request of the project party, <%-settings.WEBSITE_NAME%> will delist such Digital Assets,
                            which may cause losses for Users.</p>
                        <p>(g) TECHNICAL RISK: Although the chance of technical fault is remote during the Digital Assets trade, we can not exclude such possibility. If such has happened, the User’s interests may be affected.</p>
                        <p>(h) OPERATIONS RISK: Users may face risks due to operational error, such as transfers to wrong accounts, violations in operation regulations, etc.</p>
                        <p>(i) RISK OF ACCOUNT BEING FROZEN: User’s account may be frozen or forcefully confiscated by judicial institutions in the event of debt fraud or alleged crimes.</p>
                    </div>
                </div>
                <div class="terms_infoContent__CmoEg">
                    <div class="terms_title__xSY29"><span class="terms_line__Fd3Q2"></span><span>Eligibility and Registration</span></div>
                    <p>4) By registering for a <%-settings.WEBSITE_NAME%> Account or using or otherwise accessing <%-settings.WEBSITE_NAME%> Services, you represent and warrant that: (i) as an individual, you are of legal age to form a binding contract under applicable laws; (ii) as an individual, legal
                        person, or other organization, you have full legal capacity and sufficient authorizations to enter into this Agreement; (iii) you have not been previously suspended or removed from using <%-settings.WEBSITE_NAME%> Platform or related Services; (iv) you
                        do not have an existing <%-settings.WEBSITE_NAME%> Account; (v) you are not resident, located in or otherwise attempting to access <%-settings.WEBSITE_NAME%> Platform or <%-settings.WEBSITE_NAME%> Services from, or otherwise acting on behalf of a person or legal entity that is resident or located
                        in, a Prohibited Country; (vi) if you act as an employee or agent of a legal entity, and enter into these Agreements on their behalf, you represent and warrant that you have all the necessary rights and authorizations to bind such
                        legal entity and to access and use <%-settings.WEBSITE_NAME%> Platform and <%-settings.WEBSITE_NAME%> Services on behalf of such legal entity; and (vii) your use of <%-settings.WEBSITE_NAME%> Platform and <%-settings.WEBSITE_NAME%> Services will not violate any and all laws and regulations applicable to you or the legal
                        entity on whose behalf you are acting, including but not limited to regulations on anti-money laundering, anti-corruption, and counter-terrorist financing.</p>
                    <p>5) All Users must apply for a <%-settings.WEBSITE_NAME%> Account before using <%-settings.WEBSITE_NAME%> Services. When you register a <%-settings.WEBSITE_NAME%> Account, you must provide the information identified in this Agreement or otherwise as requested by <%-settings.WEBSITE_NAME%>, and accept this Agreement, the Privacy
                        Policy, and other <%-settings.WEBSITE_NAME%> Legal Documents. <%-settings.WEBSITE_NAME%> may refuse, in its absolute sole discretion, to open a <%-settings.WEBSITE_NAME%> Account for you. You agree to provide complete and accurate information when opening a <%-settings.WEBSITE_NAME%> Account, and agree to timely update
                        any information you provide to <%-settings.WEBSITE_NAME%> to maintain the integrity and accuracy of the information. Each User (including natural person, business or legal entity) may maintain only one main account at any given time. The registration, use,
                        protection and management of such trading accounts are equally governed by the provisions of this Agreement, unless otherwise stated in this Agreement or the Legal Documents.</p>
                    <p>6) Please note that there are legal requirements in various countries which may restrict the products and services that <%-settings.WEBSITE_NAME%> can lawfully provide. Accordingly, some products and services and certain functionality within <%-settings.WEBSITE_NAME%> Platform may
                        not be available or may be restricted in certain jurisdictions or regions or to certain Users. You shall be responsible for informing yourself about and observing any restrictions and/or requirements imposed with respect to the access
                        to and use of <%-settings.WEBSITE_NAME%> Platform and <%-settings.WEBSITE_NAME%> Services in each country from which <%-settings.WEBSITE_NAME%> Platform and <%-settings.WEBSITE_NAME%> Services are accessed by you or on your behalf. <%-settings.WEBSITE_NAME%> reserves the right to change, modify or impose additional restrictions with respect
                        to the access to and use of <%-settings.WEBSITE_NAME%> Platform and/or <%-settings.WEBSITE_NAME%> Services from time to time at their discretion at any time without prior notification.</p>
                </div>
                <div class="terms_infoContent__CmoEg">
                    <div class="terms_title__xSY29"><span class="terms_line__Fd3Q2"></span><span>Account Security Management and User Information</span></div>
                    <p>7) The Users understand and agree that it is the sole responsibility of the Users to maintain the confidentiality of your <%-settings.WEBSITE_NAME%> account and password and are responsible for all activities conducted by your <%-settings.WEBSITE_NAME%> account (including, but not
                        limited to, disclosure of information, release of information, online clicking for consent or submission of various rule agreements, online renewal of agreements or purchase service, etc.). You assume full responsibility for all actions
                        and statements made using the Users’ accounts and passwords and agree to the following:</p>
                    <div class="terms_secondary__muEnv">
                        <p>(a) Users should create passwords in accordance with relevant rules of <%-settings.WEBSITE_NAME%> and relevant prompts of <%-settings.WEBSITE_NAME%> (passwords include but are not limited to login passwords, fund passwords, mobile phone numbers bound when registering accounts,
                            mobile phone verification codes received via mobile phones, Google verification, inter alia. Specific forms thereof may change; the same hereinafter. They should avoid choosing overly obvious words or dates as their passwords,
                            such as Users&#x27; names, nicknames, birthdays, inter alia.</p>
                        <p>(b) The Users shall not disclose their accounts or passwords to any other person, nor shall they use the accounts or passwords of any other person. If the account of a User is illegally used by any other person due to factors not attributable
                            to <%-settings.WEBSITE_NAME%>, e.g, hacking, virus or negligence on the part of the User, <%-settings.WEBSITE_NAME%> will not assume any responsibility whatsoever;</p>
                        <p>(c) the Users are prohibited from giving, lending, renting out, transferring or otherwise disposing of <%-settings.WEBSITE_NAME%> account to any third party without the consent of <%-settings.WEBSITE_NAME%>;</p>
                        <p>(d) <%-settings.WEBSITE_NAME%> recognizes the Users’ instructions through the Users’ accounts and passwords. The Users hereby confirm that all their conduct on <%-settings.WEBSITE_NAME%> after they log into <%-settings.WEBSITE_NAME%> using their accounts and passwords shall represent the Users themselves.
                            The electronic information records generated by the operation of the Users’ accounts are all valid evidence of the Users’ conduct, and the Users shall bear any and all the responsibilities arising therefrom.</p>
                        <p>(e) The Users shall adopt appropriate measures to ensure the security of their accounts and passwords after <%-settings.WEBSITE_NAME%> notifies the Users of foreseeable security risk.</p>
                        <p>(f) Where any person uses the account and password of a User without due authorization, <%-settings.WEBSITE_NAME%> and the legally authorized subject reserve the right to hold the actual User jointly and severally liable.</p>
                    </div>
                    <p>8) If a User discovers that a third person fraudulently uses or embezzles the User&#x27;s account and password, or such third person’s use of the User’s account involves any absence of requisite and due authorization, the User shall promptly
                        notify <%-settings.WEBSITE_NAME%> in an effective manner and request <%-settings.WEBSITE_NAME%> to suspend relevant services; otherwise all the responsibilities arising from such use shall be borne solely by the User. Furthermore, the User understands that <%-settings.WEBSITE_NAME%> needs a reasonable
                        period of time to take action on the User&#x27;s request; <%-settings.WEBSITE_NAME%> shall not be held liable for any loss that may arise in connection with such third person’s use of the services before <%-settings.WEBSITE_NAME%> takes action.</p>
                    <p>9) Where <%-settings.WEBSITE_NAME%> deems on its unilateral and independent judgement that any event which undermines the security of trading has or may arise, <%-settings.WEBSITE_NAME%> shall have the right to suspend, interrupt or terminate all or part of the Services provided
                        to a User under this Agreement, remove or delete registration information of such a User, seize illicit profits that the User may gain, without notifying such User and without assuming any responsibility to such User or any third party.
                        The aforementioned events include:</p>
                    <div class="terms_secondary__muEnv">
                        <p>(a) <%-settings.WEBSITE_NAME%> believes that the information provided by the User is not authentic, valid or complete, e.g, where the User registers with <%-settings.WEBSITE_NAME%> on the basis of identity information of any other person that the User uses without due authorization,
                            or the information provided by the User for verification is inconsistent with relevant facts;</p>
                        <p>(b) <%-settings.WEBSITE_NAME%> uncovers any abnormal transaction by the User or any transaction by the User is suspicious or may be illegal;</p>
                        <p>(c) <%-settings.WEBSITE_NAME%> believes that the User’s account is suspected of being involved in money laundering, cash-out, pyramid selling, fraudulent use or other situations that <%-settings.WEBSITE_NAME%> believes are risky or unlawful;</p>
                        <p>(d) <%-settings.WEBSITE_NAME%> discovers that the User uses any illegal or improper technical means to engage in any activity that endangers the security of trading or affects fair trading, including tampering with transaction data, stealing customer information,
                            stealing transaction data, attacking other registered accounts through <%-settings.WEBSITE_NAME%>, inter alia;</p>
                        <p>(e) <%-settings.WEBSITE_NAME%> believes that the User has violated any of the rules under this Agreement or the spirit thereof;</p>
                        <p>(f) <%-settings.WEBSITE_NAME%> believes that the User may have participated in, or currently participates in, pump and dump schemes, wash trading, self-trading, front running, quote stuffing, spoofing, layering, or other types of market manipulative behaviours;</p>
                        <p>(g) any other circumstances under which the User breaches this Agreement;</p>
                        <p>(h) other circumstances under which <%-settings.WEBSITE_NAME%>, based on its sole judgment, needs to suspend, interrupt or terminate all or part of the User services (including fee-based services) provided to Users under this Agreement and remove or delete
                            the registration information on the ground of transaction security and other reasons.</p>
                    </div>
                    <p>10) When a User decides to cease to use his/her/its User account, the User shall first pay off all outstanding payables (including service fees, inter alia), then withdraw all available digital assets (if any) from the User account that
                        are eligible for withdrawal, apply to <%-settings.WEBSITE_NAME%> for freezing the User account, and formally cancel the User account upon approval by <%-settings.WEBSITE_NAME%>.</p>
                    <p>11) The User agrees that if the identity verification procedure for his/her/its User account fails to be completed, <%-settings.WEBSITE_NAME%> has the right to terminate the supply of User account services without prior notice to the User, and <%-settings.WEBSITE_NAME%> may promptly
                        suspend, close or delete the User account and all relevant materials and files in the User account.</p>
                    <p>12) The User agrees that the suspension, interruption or termination of the User&#x27;s account does not represent the termination of the User&#x27;s responsibilities. The User shall still be liable for any possible breach of agreement
                        or damages that may arise due to or in connection with such User’s conduct during the time when such User uses the services provided by <%-settings.WEBSITE_NAME%>; furthermore, <%-settings.WEBSITE_NAME%> may continue keeping relevant information of the User.</p>
                </div>
                <div class="terms_infoContent__CmoEg">
                    <div class="terms_title__xSY29"><span class="terms_line__Fd3Q2"></span><span><%-settings.WEBSITE_NAME%> Services</span></div>
                    <p>13) Notwithstanding the foregoing, the Services provided by <%-settings.WEBSITE_NAME%> as provided for under this Agreement shall include the following:</p>
                    <div class="terms_secondary__muEnv">
                        <p>(a) User accounts: a User account will be generated upon a User’s registration with <%-settings.WEBSITE_NAME%>. The User account will record the User&#x27;s activities on the Platform. The aforementioned User account shall be the sole account for the User
                            to log on to <%-settings.WEBSITE_NAME%> and use any Services thereon.</p>
                        <p>(b) Digital asset trading: Users can submit digital asset trading instructions through <%-settings.WEBSITE_NAME%> and trade other digital assets with digital assets in their User Accounts.</p>
                        <p>(c) Digital assets deposit and withdrawal: a User can transfer digital assets from other addresses to designated addresses in the User Account, or transfer digital assets from the User’s account to other addresses.</p>
                        <p>(d) Updating trading status: the User confirms that the digital asset trading status confirmed by the User in accordance with <%-settings.WEBSITE_NAME%> services procedures on <%-settings.WEBSITE_NAME%> will become an irrevocable instruction for <%-settings.WEBSITE_NAME%> to conduct relevant transactions
                            or operations for the User. The User agrees that the execution time of relevant instructions shall be based on the actual operation time of <%-settings.WEBSITE_NAME%> in <%-settings.WEBSITE_NAME%> system. The User agrees that <%-settings.WEBSITE_NAME%> has the right to handle relevant matters
                            in accordance with this Agreement and/or the relevant dispute resolution rules of <%-settings.WEBSITE_NAME%>. Any dispute or loss caused by User’s failure to amend or confirm the transaction status, or to submit relevant applications in a timely manner,
                            shall be borne by the User exclusively, and <%-settings.WEBSITE_NAME%> shall not bear any responsibility whatsoever.</p>
                        <p>(e) Transmission of trading instructions: <%-settings.WEBSITE_NAME%> transmits the User’s trading instructions at the time the User inputs the trading instructions and data. The User understands that <%-settings.WEBSITE_NAME%> is the matchmaker of digital asset transactions,
                            not a buyer or seller participating in the transaction of digital asset transactions itself, and that <%-settings.WEBSITE_NAME%> does not provide, by itself, any services relating to the deposit or withdrawal of the legal tender of any country.</p>
                        <p>(f) Transaction inquiry: <%-settings.WEBSITE_NAME%> will record all of the User&#x27;s operations on <%-settings.WEBSITE_NAME%>, regardless of whether the purpose of such operations is finally achieved. The User can query such transaction records under the User’s account in
                            real time via User Account.</p>
                        <p>(g) Transaction security settings: <%-settings.WEBSITE_NAME%> has the right to carry out the settings of transaction-related matters from time to time based on considerations of such factors as transaction security, including transaction limits and transaction
                            times, inter alia. The Users understand that the aforesaid settings of <%-settings.WEBSITE_NAME%> may cause certain inconveniences in trading, and the Users have no objection thereto.</p>
                        <p>(h) Handling of system failures: if <%-settings.WEBSITE_NAME%> uncovers a handling error caused by a system failure or any other reason, <%-settings.WEBSITE_NAME%> has the right to correct the error regardless of whether it is beneficial to <%-settings.WEBSITE_NAME%> or its Users. Where due to such
                            error, the User actually receives more digital assets than the amount that such User should have received, then regardless of the nature and reason of the error, <%-settings.WEBSITE_NAME%> reserves the right to correct such improperly executed transaction
                            and the User shall return the overcharged digital assets or perform other operations in accordance with the specific requirements of <%-settings.WEBSITE_NAME%>&#x27;s notice to the User regarding the correction of such error. The User understands and
                            agrees that <%-settings.WEBSITE_NAME%> will not assume any losses or responsibilities caused by the aforesaid handling error.</p>
                        <p>(i) Peer-to-Peer service: <%-settings.WEBSITE_NAME%> provides a platform that allows users to directly trade Digital Assets with other users (<%-settings.WEBSITE_NAME%> P2P). You may trade on <%-settings.WEBSITE_NAME%> P2P to buy or sell Digital Assets as an Advertiser or a Taker.</p>
                        <p>(j) Digital Assets futures trading service: <%-settings.WEBSITE_NAME%> provides services for Users to carry out Futures trading. A Futures transaction is initiated when you place orders to enter into or to close out Futures contracts with your Account on
                            the Platform (the &quot;Futures Trading&#x27;). You hereby acknowledge that Futures Trading is highly leveraged, and that it is a volatile and complex activity that involves a risk of loss of some or all of your digital assets</p>
                        <p>(k) Copy trading service: Copy trading services is a service that allows one user (hereinafter the “Follower”) to copy trade(s) made by another user (hereinafter the “Trader”).</p>
                        <p>(l)Fiat services: <%-settings.WEBSITE_NAME%> cooperates with various partners to distribute Users with means to convert Fiat currency into digital assets via Global Bank Transfer, Credit/Debit Card, and <%-settings.WEBSITE_NAME%> Mastercard.</p>
                        <p>(m) Other services which <%-settings.WEBSITE_NAME%> may provide from time to time.</p>
                    </div>
                    <p>14) You acknowledge and agree that the above list is non-exhaustive in nature and the Services are provided by <%-settings.WEBSITE_NAME%> or <%-settings.WEBSITE_NAME%>&#x27;s partner(s) on an &#x27;as-is&#x27; basis, and may be subject to reduction, changes. cancellation, termination,
                        and modifications by <%-settings.WEBSITE_NAME%> under its absolute sole discretion. <%-settings.WEBSITE_NAME%> Services may be varied in appearance, availability, pricing, operation, to residence of different countries, <%-settings.WEBSITE_NAME%> reserve the right to modify such Services in its absolute
                        sole discretion, with or without notice to you. Each Service <%-settings.WEBSITE_NAME%> provides, provided, or will provide is subject to separate terms and conditions which may be contained under the Legal Documents, by using the Services, you are deemed
                        to have read and understood the nature of those provisions.</p>
                    <p>15) In addition to the foregoing, the User acknowledges and agrees that <%-settings.WEBSITE_NAME%> shall have, at <%-settings.WEBSITE_NAME%>’s sole discretion, the right to suspend all or part of the Services, or the User’s access to all or part of the Services, whenever <%-settings.WEBSITE_NAME%> determines
                        in <%-settings.WEBSITE_NAME%>’s sole discretion that:</p>
                    <div class="terms_secondary__muEnv">
                        <p>(a) the User may have breached this Agreement; or</p>
                        <p>(b) the proper functioning of the <%-settings.WEBSITE_NAME%> Platform is in jeopardy.</p>
                    </div>
                    <p>16) For the purposes of Clause 15 (b), the proper functioning of <%-settings.WEBSITE_NAME%> will be in jeopardy in the following circumstances:</p>
                    <div class="terms_secondary__muEnv">
                        <p>(a) when a computer or telecommunications network ceases to operate or function as a result of an accident;</p>
                        <p>(b) in the event of a Force Majeure Event which affects the provision of the Services;</p>
                        <p>(c) when <%-settings.WEBSITE_NAME%>’s assets or the User’s Assets, or the Platform, are the subject of an attempted or actual malicious attack which may, among other things, result in the theft or loss of such assets;</p>
                        <p>(d) when an event affects the proper functioning of critical systems relied upon by <%-settings.WEBSITE_NAME%>, including the pricing system or any other system necessary for the provision of the Services;</p>
                        <p>(e) when <%-settings.WEBSITE_NAME%> suspects unauthorized use of the Platform, or a breach of this Agreement or Applicable Laws and Regulations;</p>
                        <p>(f) when <%-settings.WEBSITE_NAME%> determines that it is necessary, in its sole discretion, to conduct investigations in light of its requirements under Applicable Laws and Regulations or to ensure the proper functioning of the Platform;</p>
                        <p>(g) when <%-settings.WEBSITE_NAME%> decides to cease handling a Digital Asset based on the results of a Hard Fork that causes a chain split or changes to a Digital Asset;</p>
                        <p>(h) when <%-settings.WEBSITE_NAME%> deems that the provision of the Services cannot continue due to changes in Applicable Laws and Regulations, social conditions, or factors outside <%-settings.WEBSITE_NAME%>’s control, including but not limited to when a Digital Asset is no
                            longer deemed an “Acceptable Digital Asset” by the Competent Authorities; or</p>
                        <p>(i) when for any other reason, <%-settings.WEBSITE_NAME%> determines in its sole discretion that the suspension is necessary.</p>
                    </div>
                </div>
                <div class="terms_infoContent__CmoEg">
                    <div class="terms_title__xSY29"><span class="terms_line__Fd3Q2"></span><span>Rules of Services</span></div>
                    <p>17) When you use <%-settings.WEBSITE_NAME%> Services, you agree and undertake to comply with the following provisions:</p>
                    <div class="terms_secondary__muEnv">
                        <p>(a) During the use of <%-settings.WEBSITE_NAME%> Services, all activities you carry out should comply with the requirements of applicable laws and regulations, this Agreement, and various guidelines of <%-settings.WEBSITE_NAME%>;</p>
                        <p>(b) Your use of <%-settings.WEBSITE_NAME%> Services should not violate public interests, public morals, or the legitimate interests of others, including any actions that would interfere with, disrupt, negatively affect, or prohibit other Users from using
                            <%-settings.WEBSITE_NAME%> Services;</p>
                        <p>(c) You agree not to use the services for market manipulation (such as pump and dump schemes, wash trading, self-trading, front running, quote stuffing, and spoofing or layering, regardless of whether prohibited by law);</p>
                        <p>(d) Without written consent from <%-settings.WEBSITE_NAME%>, the following commercial uses of <%-settings.WEBSITE_NAME%> data are prohibited:</p>
                        <p class="terms_ml24__JnohU">(i) Trading services that make use of <%-settings.WEBSITE_NAME%> quotes or market bulletin board information.</p>
                        <p class="terms_ml24__JnohU">(ii) Data feeding or streaming services that make use of any market data of <%-settings.WEBSITE_NAME%>.</p>
                        <p class="terms_ml24__JnohU">(iii) Any other websites/apps/services that charge for or otherwise profit from (including through advertising or referral fees) market data obtained from <%-settings.WEBSITE_NAME%>.</p>
                        <p>(e) Without prior written consent from <%-settings.WEBSITE_NAME%>, you may not modify, replicate, duplicate, copy, download, store, further transmit, disseminate, transfer, disassemble, broadcast, publish, remove or alter any copyright statement or label,
                            or license, sub-license, sell, mirror, design, rent, lease, private label, grant security interests in the properties or any part of the properties, or create their derivative works or otherwise take advantage of any part of the
                            properties.</p>
                        <p>(f) You may not (i) use any deep linking, web crawlers, bots, spiders or other automatic devices, programs, scripts, algorithms or methods, or any similar or equivalent manual processes to access, obtain, copy or monitor any part of
                            the properties, or replicate or bypass the navigational structure or presentation of <%-settings.WEBSITE_NAME%> Services in any way, in order to obtain or attempt to obtain any materials, documents or information in any manner not purposely provided
                            through <%-settings.WEBSITE_NAME%> Services; (ii) attempt to access any part or function of the properties without authorization, or connect to <%-settings.WEBSITE_NAME%> Services or any <%-settings.WEBSITE_NAME%> servers or any other systems or networks of any <%-settings.WEBSITE_NAME%> Services provided through
                            the services by hacking, password mining or any other unlawful or prohibited means; (iii) probe, scan or test the vulnerabilities of <%-settings.WEBSITE_NAME%> Services or any network connected to the properties, or violate any security or authentication
                            measures on <%-settings.WEBSITE_NAME%> Services or any network connected to <%-settings.WEBSITE_NAME%> Services; (iv) reverse look-up, track or seek to track any information of any other Users or visitors of <%-settings.WEBSITE_NAME%> Services; (v) take any actions that imposes an unreasonable
                            or disproportionately large load on the infrastructure of systems or networks of <%-settings.WEBSITE_NAME%> Services or <%-settings.WEBSITE_NAME%>, or the infrastructure of any systems or networks connected to <%-settings.WEBSITE_NAME%> services; (vi) use any devices, software or routine programs
                            to interfere with the normal operation of <%-settings.WEBSITE_NAME%> Services or any transactions on <%-settings.WEBSITE_NAME%> Services, or any other person’s use of <%-settings.WEBSITE_NAME%> Services; (vii) forge headers, impersonate, or otherwise manipulate identification, to disguise your
                            identity or the origin of any messages or transmissions you send to <%-settings.WEBSITE_NAME%>, or (viii) use <%-settings.WEBSITE_NAME%> Services in an illegal way.</p>
                    </div>
                    <p>18) By accessing <%-settings.WEBSITE_NAME%> Services, you agree that <%-settings.WEBSITE_NAME%> has the right to investigate any violation of this Agreement, unilaterally determine whether you have violated this Agreement, and take actions under relevant regulations without your
                        consent or prior notice. Examples of such actions include, but are not limited to:</p>
                    <ul class="terms_secondary__muEnv">
                        <li>Blocking and closing order requests;</li>
                        <li>Freezing your account;</li>
                        <li>Reporting the incident to the authorities;</li>
                        <li>Publishing the alleged violations and actions that have been taken;</li>
                        <li>Deleting any information you published that are found to be violations.</li>
                    </ul>
                    <p>19) In addition to the foregoing, due to the operation of Applicable Laws, <%-settings.WEBSITE_NAME%> prohibits certain businesses to be conducted on or otherwise utilize <%-settings.WEBSITE_NAME%> Services, <%-settings.WEBSITE_NAME%> has the right to monitor your transaction and/or account activities
                        to determine, under our absolute sole discretion, if your use of <%-settings.WEBSITE_NAME%> Services constitutes any of the prohibited businesses. These prohibited businesses include:</p>
                    <div class="terms_secondary__muEnv">
                        <p>(a) Unlicensed money service businesses, including but not limited to, payment services providers, the sale of money orders or cashier’s checks or any money transmitter activities</p>
                        <p>(b) Adult content and services, including but not limited to, any types of pornography and other obscene materials (including literature, imagery and other media); sites offering any sexually-related services such as prostitution,
                            escorts, pay-per view, adult live chat features</p>
                        <p>(c) Deceptive marketing and false advertising services</p>
                        <p>(d) Religious and/or spiritual organizations</p>
                        <p>(e) Unlicensed sale of weapons of any kind, including but not limited to, firearms, ammunition, knives, explosives, or related accessories</p>
                        <p>(f) Certain regulated products and services, including but not limited to, marijuana dispensaries and related businesses; sale of tobacco, e-cigarettes, and e-liquid; online prescription or pharmaceutical services; age restricted goods
                            or services, and toxic, flammable, and radioactive materials</p>
                        <p>(g) Pseudo-pharmaceuticals - Companies manufacturing and or selling untested or unapproved pharmaceuticals</p>
                        <p>(h) Drugs and Drug Paraphernalia, including but not limited to, sale of narcotics, controlled substances, and any equipment designed for making or using drugs, such as bongs, vaporizers, and hookahs</p>
                        <p>(i) Gambling activities, including but not limited to, sports betting, casino games, horse racing, dog racing, lotteries, games of chance, sweepstakes, games of skill that may be classified as gambling (i.e. poker), or other activities
                            that facilitate any of the foregoing</p>
                        <p>(j) Money-laundering, fraud, terrorist financing, or any other type of financial crimes</p>
                        <p>(k) Any sort of Ponzi scheme, pyramid scheme, or multi-level marketing program</p>
                        <p>(l) Goods or services that infringe or violate any copyright, trademark, or proprietary rights under the laws of any jurisdiction</p>
                        <p>(m) Layaway systems, or annuities</p>
                        <p>(n) Counterfeit or unauthorized goods, including but not limited to, sale or resale of fake or “novelty” IDs, sale of goods or services that are illegally imported or exported or which are stolen</p>
                        <p>(o) Wash trading, front-running, insider trading, market manipulation or other forms of market-based fraud or deceit</p>
                        <p>(p) Purchasing goods of any type from hidden service markets or “Darknet” markets, or any other service or website that acts as a marketplace for illegal goods (even though such marketplace might also sell legal goods)</p>
                        <p>(q) Any other matters, goods, or services that from time to time we deem to be unacceptable or of high risk, and which, for example, may be restricted by our bank or payment partners; or</p>
                        <p>(r) Any other unlawful activities which would violate, or assist in violation of, any law, statute, ordinance, or regulation, sanctions programs administered in the countries where we conduct business, or which would involve proceeds
                            of any unlawful activities</p>
                        <p>(s) Shell Banks or Financial Institutions that have customers that are shell banks</p>
                        <p>(t) Entities with bearer share ownership</p>
                        <p>(u) Defense industry, firearms &amp; munitions manufacturers</p>
                        <p>(v) Nuclear Energy</p>
                        <p>(w) Restricted financial services, including but not limited to credit repair, debt settlement, refinance, bail bonds, collections agencies</p>
                        <p>(x) Transactions or business involving ivory and protected species</p>
                    </div>
                    <p>20) In the event that we learn or reasonably suspect, in our sole discretion, that your account is or may be associated with any of the Prohibited Businesses as set forth above, we will consider it to be a violation of this Agreement and
                        may suspend or terminate your account, including by canceling any clawback transactions or freezing your funds immediately without notice, or taking any other action required by a law enforcement agency, regulator, or any other authority.
                        We reserve the right to report any such suspected or actual Prohibited Businesses to a law enforcement agency, regulator, or any other authority.</p>
                </div>
                <div class="terms_infoContent__CmoEg">
                    <div class="terms_title__xSY29"><span class="terms_line__Fd3Q2"></span><span>Account Restrictions</span></div>
                    <p>21) In addition to other similar provisions contained under this Agreement and the Legal Documents, you agree and acknowledge that we have the right, at any time and in our absolute sole discretion, to implement the following measures
                        on your Account:</p>
                    <div class="terms_secondary__muEnv">
                        <p>(a) Blocking and closing order requests;</p>
                        <p>(b) Freezing your account and any assets contained therein;</p>
                        <p>(c) Clawback and/or retrieve any profits obtained in violation of this Agreement or other Legal Documents to compensate for any losses suffered as a consequence thereto;</p>
                        <p>d) Publishing the alleged violations and actions that have been taken;</p>
                        <p>(e) Deleting any information you published that are found to be violations.</p>
                    </div>
                    <p>If we suspect, in our absolute sole discretion, inter alia, any of the following:</p>
                    <div class="terms_secondary__muEnv">
                        <p>(a) The Account is in violation of any of this Agreement or the Legal Documents;</p>
                        <p>(b) The Account is in violation of any applicable laws or regulations;</p>
                        <p>(c) The Account is in violation of Anti-Money-Laundering/Counter-Terrorism Financing laws;</p>
                        <p>(d) The Account is in violation of a regulatory authority requirement, court order, or valid subpoena;</p>
                        <p>(e) The Account is, or is related to any account that is, subject to any pending litigation, investigation, or governmental proceeding;</p>
                        <p>(f) The Account has a balance that needs to be reconciled for any reason;</p>
                        <p>(g) If <%-settings.WEBSITE_NAME%> believes that an unauthorized person is attempting to gain access to your account;</p>
                        <p>(h) If <%-settings.WEBSITE_NAME%> believes that you are using your credentials or other account information in an unauthorized or inappropriate manner;</p>
                        <p>(i) If <%-settings.WEBSITE_NAME%> believes that your account is related to any Prohibited Businesses as set forth in Clause 19;</p>
                        <p>(j) If <%-settings.WEBSITE_NAME%> believes that there are suspicious and/or fraudulent activities on your account; or</p>
                        <p>(k) The Account has not been accessed in over one year.</p>
                    </div>
                    <p>22) You agree and acknowledge that we have the right to immediately investigate and implement necessary measures on your Account and any Account related thereto, if we suspect, in our sole discretion, that any such account has committed
                        a violation of this Agreement, the Legal Documents, or the Applicable Laws or Regulations.</p>
                </div>
                <div class="terms_infoContent__CmoEg">
                    <div class="terms_title__xSY29"><span class="terms_line__Fd3Q2"></span><span>Fees</span></div>
                    <p>23) <%-settings.WEBSITE_NAME%> has the right to set Service charges according to this Agreement. <%-settings.WEBSITE_NAME%> also has the right to formulate and adjust the Service charges, and set specific service charges for you to use the Service(s) and terminate any promotional
                        efforts at any time and from time to time, at <%-settings.WEBSITE_NAME%>&#x27;s absolute sole discretion.</p>
                    <p>24) Unless otherwise stated or agreed upon, you agree that <%-settings.WEBSITE_NAME%> has the right to deduct the above-mentioned service charges directly from the assets of your account.</p>
                    <p>25) At <%-settings.WEBSITE_NAME%>&#x27;s sole discretion, regional or country-specific pricing may vary based on the User’s residence or location.</p>
                </div>
                <div class="terms_infoContent__CmoEg">
                    <div class="terms_title__xSY29"><span class="terms_line__Fd3Q2"></span><span>Liabilities</span></div>
                    <p>26) <%-settings.WEBSITE_NAME%> is responsible for providing <%-settings.WEBSITE_NAME%> services to you according to the status quo and availability. <%-settings.WEBSITE_NAME%>, however, makes no express or implied warranty with respect to the Services, including but not limited to the applicability,
                        absence of error or omission, sustainability, accuracy, reliability, suitability for a particular purpose of the Services. At the same time, <%-settings.WEBSITE_NAME%> makes no commitment or guarantee to the validity, accuracy, correctness, reliability,
                        quality, stability, integrity and timeliness of the technology and information involved in the <%-settings.WEBSITE_NAME%> service.</p>
                    <p>27) Notwithstanding the afore, <%-settings.WEBSITE_NAME%> is responsible for reviewing the text of information released by the digital asset project owners, however it does not guarantee or assume any responsibility for the accuracy, completeness or legality
                        of such information. The Users shall make decisions based on their independent judgment and shall engage their own advisors and/or conduct their own research. If Users conduct digital asset transactions based on such information, the
                        risks arising therefrom shall be borne exclusively by the Users themselves, and the Users have no right to propose any legal claim to <%-settings.WEBSITE_NAME%> on the basis of such risks. Any dispute between a User and the digital asset project owner arising
                        from or related to transaction shall be settled by and between the parties to the dispute themselves, and the Platform shall not bear any transaction risk or legal liability whatsoever.</p>
                    <p class="terms_fondBold__rI46d">28) DISCLAIMER OF WARRANTIES: TO THE MAXIMUM EXTENT PERMITTED UNDER APPLICABLE LAW, <%-settings.WEBSITE_NAME%> SERVICES, <%-settings.WEBSITE_NAME%> MATERIALS AND ANY PRODUCT, SERVICE OR OTHER ITEM PROVIDED BY OR ON BEHALF OF <%-settings.WEBSITE_NAME%> ARE OFFERED ON AN “AS IS” AND “AS AVAILABLE” BASIS,
                        AND <%-settings.WEBSITE_NAME%> EXPRESSLY DISCLAIMS, AND YOU WAIVE, ANY AND ALL OTHER WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE OR NON-INFRINGEMENT
                        OR WARRANTIES ARISING FROM COURSE OF PERFORMANCE, COURSE OF DEALING OR USAGE IN TRADE. WITHOUT LIMITING THE FOREGOING, <%-settings.WEBSITE_NAME%> DOES NOT REPRESENT OR WARRANT THAT THE SITE, <%-settings.WEBSITE_NAME%> SERVICES OR <%-settings.WEBSITE_NAME%> MATERIALS ARE ACCURATE, COMPLETE, RELIABLE,
                        CURRENT, ERROR-FREE, OR FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. <%-settings.WEBSITE_NAME%> DOES NOT GUARANTEE THAT ANY ORDER WILL BE EXECUTED, ACCEPTED, RECORDED OR REMAIN OPEN. EXCEPT FOR THE EXPRESS STATEMENTS, AGREEMENTS AND RULES SET FORTH IN this
                        Agreement, YOU HEREBY ACKNOWLEDGE AND AGREE THAT YOU HAVE NOT RELIED UPON ANY OTHER STATEMENT OR AGREEMENT, WHETHER WRITTEN OR ORAL, WITH RESPECT TO YOUR USE AND ACCESS OF <%-settings.WEBSITE_NAME%> SERVICES. WITHOUT LIMITING THE FOREGOING, YOU HEREBY UNDERSTAND
                        AND AGREE THAT <%-settings.WEBSITE_NAME%> WILL NOT BE LIABLE FOR ANY LOSSES OR DAMAGES ARISING OUT OF OR RELATING TO: (A) ANY INACCURACY, DEFECT OR OMISSION OF DIGITAL ASSETS PRICE DATA, (B) ANY ERROR OR DELAY IN THE TRANSMISSION OF SUCH DATA, (C) INTERRUPTION
                        IN ANY SUCH DATA, (D) REGULAR OR UNSCHEDULED MAINTENANCE CARRIED OUT BY <%-settings.WEBSITE_NAME%> AND SERVICE INTERRUPTION AND CHANGE RESULTING FROM SUCH MAINTENANCE, (E) ANY DAMAGES INCURRED BY OTHER USERS’ ACTIONS, OMISSIONS OR VIOLATION OF this Agreement,
                        (F) ANY DAMAGE CAUSED BY ILLEGAL ACTIONS OF OTHER THIRD PARTIES OR ACTIONS WITHOUT AUTHORIZED BY <%-settings.WEBSITE_NAME%>; AND (G) OTHER EXEMPTIONS MENTIONED IN DISCLAIMERS AND PLATFORM RULES ISSUED BY <%-settings.WEBSITE_NAME%>.</p>
                    <p class="terms_fondBold__rI46d">THE DISCLAIMER OF IMPLIED WARRANTIES CONTAINED HEREIN MAY NOT APPLY IF AND TO THE EXTENT IT IS PROHIBITED BY APPLICABLE LAW OF THE JURISDICTION IN WHICH YOU RESIDE.</p>
                    <p class="terms_fondBold__rI46d">29) DISCLAIMER OF DAMAGES AND LIMITATION OF LIABILITY: TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT WILL <%-settings.WEBSITE_NAME%> AND THEIR RESPECTIVE SHAREHOLDERS, MEMBERS, DIRECTORS, OFFICERS, EMPLOYEES, ATTORNEYS, AGENTS, REPRESENTATIVES,
                        SUPPLIERS OR CONTRACTORS BE LIABLE FOR ANY INCIDENTAL, INDIRECT, SPECIAL, PUNITIVE, CONSEQUENTIAL OR SIMILAR DAMAGES OR LIABILITIES WHATSOEVER (INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OF DATA, INFORMATION, REVENUE, PROFITS
                        OR OTHER BUSINESSES OR FINANCIAL BENEFITS) ARISING OUT OF <%-settings.WEBSITE_NAME%> SERVICES, ANY PERFORMANCE OR NON-PERFORMANCE OF <%-settings.WEBSITE_NAME%> SERVICES, OR ANY OTHER PRODUCT, SERVICE OR OTHER ITEM PROVIDED BY OR ON BEHALF OF <%-settings.WEBSITE_NAME%> AND ITS AFFILIATES, WHETHER
                        UNDER CONTRACT, STATUTE, STRICT LIABILITY OR OTHER THEORY EVEN IF <%-settings.WEBSITE_NAME%> HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES EXCEPT TO THE EXTENT OF A FINAL JUDICIAL DETERMINATION THAT SUCH DAMAGES WERE A RESULT OF <%-settings.WEBSITE_NAME%>’S GROSS NEGLIGENCE,
                        FRAUD, WILLFUL MISCONDUCT OR INTENTIONAL VIOLATION OF LAW. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATION MAY NOT APPLY TO YOU.</p>
                    <p class="terms_fondBold__rI46d">NOTWITHSTANDING THE FOREGOING, IN NO EVENT WILL THE LIABILITY OF <%-settings.WEBSITE_NAME%>, ITS AFFILIATES AND THEIR RESPECTIVE SHAREHOLDERS, MEMBERS, DIRECTORS, OFFICERS, EMPLOYEES, ATTORNEYS, AGENTS, REPRESENTATIVES, SUPPLIERS OR CONTRACTORS ARISING OUT
                        OF SERVICES OFFERED BY OR ON BEHALF OF <%-settings.WEBSITE_NAME%> AND ITS AFFILIATES, ANY PERFORMANCE OR NON-PERFORMANCE OF <%-settings.WEBSITE_NAME%> SERVICES, OR ANY OTHER PRODUCT, SERVICE OR OTHER ITEM, WHETHER UNDER CONTRACT, STATUTE, STRICT LIABILITY OR OTHER THEORY, EXCEED
                        THE AMOUNT OF THE TRANSACTION FEES PAID BY YOU TO <%-settings.WEBSITE_NAME%> UNDER this Agreement IN THE THREE-MONTH PERIOD IMMEDIATELY PRECEDING THE EVENT GIVING RISE TO THE CLAIM FOR LIABILITY.</p>
                    <p>30) You agree to indemnify and hold harmless <%-settings.WEBSITE_NAME%>, their affiliates, contractors, licensors, and their respective directors, officers, employees and agents from and against any claims, actions, proceedings, investigations, demands, suits,
                        costs, expenses and damages (including attorneys’ fees, fines or penalties imposed by any regulatory authority) arising out of or related to (i) your use of, or conduct in connection with, <%-settings.WEBSITE_NAME%> Services, (ii) your breach or our enforcement
                        of this Agreement, or (iii) your violation of any applicable law, regulation, or rights of any third party during your use of <%-settings.WEBSITE_NAME%> Services. If you are obligated to indemnify <%-settings.WEBSITE_NAME%>,, contractors, licensors, and their respective directors,
                        officers, employees or agents pursuant to this Agreement, <%-settings.WEBSITE_NAME%> will have the right, in its sole discretion, to control any action or proceeding and to determine whether <%-settings.WEBSITE_NAME%> wishes to settle, and if so, on what terms.</p>
                </div>
                <div class="terms_infoContent__CmoEg">
                    <div class="terms_title__xSY29"><span class="terms_line__Fd3Q2"></span><span>Termination of Services</span></div>
                    <p>31) You agree that <%-settings.WEBSITE_NAME%> shall be entitled in its sole and absolute discretion, without prior notice, to suspend, terminate the provision of part or all of the <%-settings.WEBSITE_NAME%> services to you for any reason, as well as suspend or permanently freeze
                        (cancel) your account in <%-settings.WEBSITE_NAME%>, and shall not be liable to you or any third party for so doing, however, <%-settings.WEBSITE_NAME%> has the right to retain the trade data, history and other information relating to the account, as well as the application
                        and use of such information. In the event of the following circumstances, <%-settings.WEBSITE_NAME%> has the right to terminate this Agreement directly by canceling the account, and has the right to permanently freeze (cancel) your account’s authority on
                        <%-settings.WEBSITE_NAME%>:</p>
                    <div class="terms_secondary__muEnv">
                        <p>(a) After <%-settings.WEBSITE_NAME%> terminates the services provided to you, and you are suspected of re-registering as a user of <%-settings.WEBSITE_NAME%>, directly or indirectly or in the name of others;</p>
                        <p>(b) The email address that you have provided does not exist or cannot receive emails, and there is no other way to contact you, or <%-settings.WEBSITE_NAME%> has notified you to change your email information via another contact method, and you still have
                            not changed to a valid email address within three working days after the notice from <%-settings.WEBSITE_NAME%>;</p>
                        <p>(c) The main contents of the user information that you have provided are not true or inaccurate or incomplete;</p>
                        <p>(d) When the Agreement (including the rules) has changed, you should expressly inform <%-settings.WEBSITE_NAME%> that you are not willing to accept the new service agreement; and</p>
                        <p>(e) Other circumstances in which <%-settings.WEBSITE_NAME%> believes that the service should be terminated. Upon the termination of your account services or the permanent freezing (cancellation) of your account on <%-settings.WEBSITE_NAME%>, <%-settings.WEBSITE_NAME%> shall have no obligation to
                            retain or disclose to you any information in your account, or to forward to you or a third party any information you have not read or sent or forwarded to.</p>
                    </div>
                    <p>32) You agree that <%-settings.WEBSITE_NAME%> shall have the right to immediately suspend your <%-settings.WEBSITE_NAME%> Account (and any accounts beneficially owned by related entities or affiliates), freeze or lock assets or funds in all such accounts, and suspend your access
                        to <%-settings.WEBSITE_NAME%> for any reason including if <%-settings.WEBSITE_NAME%> suspects any such accounts to be in violation of this Agreement, the Legal Documents, or any applicable laws and regulations. You agree that <%-settings.WEBSITE_NAME%> shall not be liable to you for any permanent
                        or temporary modification of your <%-settings.WEBSITE_NAME%> Account, or suspension or termination of your access to all or any portion of <%-settings.WEBSITE_NAME%> Services. <%-settings.WEBSITE_NAME%> shall reserve the right to keep and use the transaction data or other information related to such
                        <%-settings.WEBSITE_NAME%> Accounts. The above account controls may also be applied in the following cases:</p>
                    <div class="terms_secondary__muEnv">
                        <p>(a) The <%-settings.WEBSITE_NAME%> Account is subject to a governmental proceeding, criminal investigation or other pending litigation;</p>
                        <p>(b) We detect unusual activities in the <%-settings.WEBSITE_NAME%> Account;</p>
                        <p>(c) We detect unauthorized access to the <%-settings.WEBSITE_NAME%> Account;</p>
                        <p>(d) We are required to do so by a court order or command by a regulatory/government authority.</p>
                    </div>
                    <p>33) In case of any of the following events, <%-settings.WEBSITE_NAME%> shall have the right to directly terminate this Agreement by cancelling your <%-settings.WEBSITE_NAME%> Account, and shall enjoy the right but not the obligation to permanently freeze (cancel) the authorizations
                        of your <%-settings.WEBSITE_NAME%> Account on <%-settings.WEBSITE_NAME%> and withdraw the corresponding <%-settings.WEBSITE_NAME%> Account thereof:</p>
                    <div class="terms_secondary__muEnv">
                        <p>(a) after <%-settings.WEBSITE_NAME%> terminates services to you;</p>
                        <p>(b) you allegedly register or register in any other person’s name as a <%-settings.WEBSITE_NAME%> User again, directly or indirectly;</p>
                        <p>(c) the information that you have provided is untruthful, inaccurate, outdated or incomplete;</p>
                        <p>(d) when this Agreement are amended, you state your unwillingness to accept the amended Terms by applying for cancellation of your <%-settings.WEBSITE_NAME%> Account or by other means</p>
                        <p>(e) you request that <%-settings.WEBSITE_NAME%> Services be terminated; and</p>
                        <p>(f) any other circumstances where <%-settings.WEBSITE_NAME%> deems it should terminate <%-settings.WEBSITE_NAME%> Services.</p>
                    </div>
                    <p>34) If <%-settings.WEBSITE_NAME%> is informed that any assets or funds held in your <%-settings.WEBSITE_NAME%> Account are stolen or otherwise are not lawfully possessed by you, <%-settings.WEBSITE_NAME%> may, but has no obligation to, place an administrative hold on the affected funds and your <%-settings.WEBSITE_NAME%>
                        Account. If <%-settings.WEBSITE_NAME%> does lay down an administrative hold on some or all of your funds or <%-settings.WEBSITE_NAME%> Account, <%-settings.WEBSITE_NAME%> may continue such hold until such time as the dispute has been resolved and evidence of the resolution acceptable to <%-settings.WEBSITE_NAME%> has
                        been provided to <%-settings.WEBSITE_NAME%> in a form acceptable to <%-settings.WEBSITE_NAME%>. <%-settings.WEBSITE_NAME%> will not involve itself in any such dispute or the resolution of the dispute. You agree that <%-settings.WEBSITE_NAME%> will have no liability or responsibility for any such hold, or for your inability
                        to withdraw Digital Assets or funds or execute trades during the period of any such hold.</p>
                    <p>35) Except as set forth in this Agreement, once a <%-settings.WEBSITE_NAME%> Account is closed/withdrawn, all remaining account balance (which includes charges and liabilities owed to <%-settings.WEBSITE_NAME%>) will be payable immediately to <%-settings.WEBSITE_NAME%>. Upon payment of all outstanding
                        charges to <%-settings.WEBSITE_NAME%> (if any), Users may, upon determination by <%-settings.WEBSITE_NAME%> as to the User&#x27;s eligibility, withdraw all Digital Assets or funds from the account.</p>
                    <p>36) <%-settings.WEBSITE_NAME%> maintains full custody of the assets, funds and User data/information which may be turned over to governmental authorities in the event of <%-settings.WEBSITE_NAME%> Accounts’ suspension/closure arising from fraud investigations, investigations of
                        violation of law or violation of this Agreement.</p>
                    <p>37) Notwithstanding any provision of this Agreement, <%-settings.WEBSITE_NAME%> may provide a written notice requiring you to close all of your open positions and withdraw all of your assets from your <%-settings.WEBSITE_NAME%> Account within a limited period of time as determined
                        by <%-settings.WEBSITE_NAME%>. In the event that you fail to do so, <%-settings.WEBSITE_NAME%> may, in its absolute discretion and without prior notice to you:</p>
                    <div class="terms_secondary__muEnv">
                        <p>(a) deem your <%-settings.WEBSITE_NAME%> account as a dormant account;</p>
                        <p>(b) close any open positions in any <%-settings.WEBSITE_NAME%> products;</p>
                        <p>(c) convert the Digital Assets to a different type of Digital Asset (e.g., from BTC to USDT).</p>
                        <p>(d) close a dormant account at any time, and <%-settings.WEBSITE_NAME%> will not be liable for any loss, damage or expense incurred by you as a result of the closure of a dormant account unless there was fraud or willful default by <%-settings.WEBSITE_NAME%>.</p>
                    </div>
                    <p>38) In addition to the foregoing, you understand and agree that:</p>
                    <div class="terms_secondary__muEnv">
                        <p>(a) If you have committed any illegal acts or violations of this Agreement during the period of using the provided Service, <%-settings.WEBSITE_NAME%> may still assert rights against you in accordance with this Agreement.</p>
                        <p>(b) When <%-settings.WEBSITE_NAME%> suspends or terminates the provision of services to you, <%-settings.WEBSITE_NAME%> will handle your trading data recorded before service suspension or termination under the following principles. You shall handle or bear any disputes, losses
                            or expenses incurred by yourself, and shall ensure that <%-settings.WEBSITE_NAME%> is exempted from any losses or any expenses.</p>
                        <p>(c) Where you have entered into a purchase contract with other members before the suspension or termination of the Service but the contract has not been actually performed, <%-settings.WEBSITE_NAME%> shall have the right to delete relevant information of
                            such a purchase contract and the trading of digital assets thereof.</p>
                        <p>(d) Upon the termination of your account services or the permanent freezing (cancellation) of your account on <%-settings.WEBSITE_NAME%>, <%-settings.WEBSITE_NAME%> shall have no obligation to retain or disclose to you any information in your account, or to forward to you or
                            a third party any information you have not read or sent or forwarded to; and</p>
                        <p>(e) If you have entered into a purchase contract with any other member before the suspension or termination of services and such contract has been partially performed, <%-settings.WEBSITE_NAME%> may not delete the trade; provided that <%-settings.WEBSITE_NAME%> may notify the
                            counterparty of relevant circumstances at the time of suspension or termination of services.</p>
                    </div>
                </div>
                <div class="terms_infoContent__CmoEg">
                    <div class="terms_title__xSY29"><span class="terms_line__Fd3Q2"></span><span>Intellectual Property</span></div>
                    <p>39) All intellectual properties included in <%-settings.WEBSITE_NAME%>, including, but not limited to, website logos, databases, website design, text and graphics, software, photos, videos, music, sounds and any combinations of the aforementioned files, and
                        the intellectual property rights of software compilation, associated source code and software (including small applications and scripts) shall be owned by <%-settings.WEBSITE_NAME%>. You may not copy, modify, copy, transmit or use any of the foregoing materials
                        or content for commercial purposes.</p>
                    <p>40) Upon accepting this Agreement, it shall be deemed that you, on the basis of your own free will, have transferred and assigned exclusively and free of charge to <%-settings.WEBSITE_NAME%> all copyright of any form of information that you have published on
                        <%-settings.WEBSITE_NAME%>, including, but not limited to copyrights, distribution rights, lease rights, exhibition rights, performance rights, projection rights, broadcasting rights, information network communication rights, production rights, adaptation
                        rights, translation rights, compilation rights and other transferable rights that copyright owners are entitled to, and <%-settings.WEBSITE_NAME%> shall have the right to sue for any infringement on such copyright and obtain full compensation for such infringement.
                        This Agreement shall apply to any content that is published by you on <%-settings.WEBSITE_NAME%> and is protected by copyright law, regardless of whether the content is generated before or after the signing of this Agreement.</p>
                    <p>41) You shall not illegally use or dispose of the intellectual property rights of <%-settings.WEBSITE_NAME%> or any other person during your use of the services offered by <%-settings.WEBSITE_NAME%>. For any information that you publish on <%-settings.WEBSITE_NAME%>, you may not publish or authorize
                        other websites (or media) to use such information in any manner whatsoever.</p>
                    <p>42) You will not be deemed to have been transferred any intellectual property rights to you by <%-settings.WEBSITE_NAME%> when you log in to <%-settings.WEBSITE_NAME%> or use <%-settings.WEBSITE_NAME%>&#x27;s Service.</p>
                </div>
                <div class="terms_infoContent__CmoEg">
                    <div class="terms_title__xSY29"><span class="terms_line__Fd3Q2"></span><span>No Professional Advice</span></div>
                    <p>43) <%-settings.WEBSITE_NAME%> is not your broker, intermediary, agent, or advisor and has no fiduciary relationship or obligation to you in connection with any trades or other decisions or activities effected by you using <%-settings.WEBSITE_NAME%> Services. No communication or
                        information provided to you by <%-settings.WEBSITE_NAME%> is intended as, or shall be considered or construed as, investment advice, legal advice, tax advice, financial advice, trading advice, or any other sort of advice. Unless otherwise specified in this
                        Agreement and Legal Documents, all trades are executed automatically, based on the parameters of your order instructions and in accordance with posted trade execution procedures, and you are solely responsible for determining whether
                        any investment, investment strategy or related transaction is appropriate for you according to your personal investment objectives, financial circumstances and risk tolerance, and you shall be solely responsible for any loss or liability
                        therefrom. We recommend consultation with your financial, legal, and/or tax professionals regarding your specific situation. <%-settings.WEBSITE_NAME%> does not recommend that any Digital Asset should be bought, earned, sold, or held by you, nor does <%-settings.WEBSITE_NAME%>
                        warrant any Services that are or should be available in any jurisdictions. Before making the decision to buy, sell or hold any Digital Asset, you should conduct your own due diligence and consult your financial advisors prior to making
                        any investment decision. <%-settings.WEBSITE_NAME%> will not be held responsible for the decisions you make to buy, sell, or hold Digital Assets based on the information provided by <%-settings.WEBSITE_NAME%>.</p>
                </div>
                <div class="terms_infoContent__CmoEg">
                    <div class="terms_title__xSY29"><span class="terms_line__Fd3Q2"></span><span>Governing Law, Dispute Settlement, Class Action Waiver</span></div>
                    <p>44) Notice of Claim and Dispute Resolution Period. Please contact <%-settings.WEBSITE_NAME%> before initiating any legal proceedings! <%-settings.WEBSITE_NAME%> wants to address your concerns without resorting to formal legal proceedings, if possible. If you have a dispute with
                        <%-settings.WEBSITE_NAME%>, then you should contact <%-settings.WEBSITE_NAME%> and a ticket number will be assigned. <%-settings.WEBSITE_NAME%> will attempt to resolve your dispute internally as soon as possible. The parties agree to negotiate in good faith to resolve the dispute (which discussions
                        shall remain confidential and be subject to applicable rules protecting settlement discussions from use as evidence in any legal proceeding).</p>
                    <p>45) In the event the dispute cannot be resolved satisfactorily, and you wish to assert a legal claim against <%-settings.WEBSITE_NAME%>, then you agree to set forth the basis of such claim in writing in a “Notice of Claim,” as a form of prior notice to <%-settings.WEBSITE_NAME%>.
                        The Notice of Claim must:</p>
                    <p>(1) describe the nature and basis of the claim or dispute,</p>
                    <p>(2) set forth the specific relief sought,</p>
                    <p>(3) provide the original ticket number, and</p>
                    <p>(4) include your <%-settings.WEBSITE_NAME%> account email.</p>
                    <p>46) The Notice of Claim should be submitted to an email address or hyperlink provided in your correspondence with <%-settings.WEBSITE_NAME%>. After you have provided the Notice of Claim to <%-settings.WEBSITE_NAME%>, the dispute referenced in the Notice of Claim may be submitted
                        by either <%-settings.WEBSITE_NAME%> or you to arbitration in accordance with this Agreement. For the avoidance of doubt, the submission of a dispute to <%-settings.WEBSITE_NAME%> for resolution internally and the delivery of a Notice of Claim to <%-settings.WEBSITE_NAME%> are prerequisites to commencement
                        of an arbitration proceeding (or any other legal proceeding). During the arbitration, the amount of any settlement offer made by you or <%-settings.WEBSITE_NAME%> shall not be disclosed to the arbitrator.</p>
                    <p>47) <span class="terms_fondBold__rI46d">Agreement to Arbitrate.</span> You and <%-settings.WEBSITE_NAME%> agree that, subject to this Agreement and Legal Documents, any dispute, claim, or controversy between you and <%-settings.WEBSITE_NAME%> arising in connection with or relating
                        in any way to this Agreement or to your relationship with <%-settings.WEBSITE_NAME%> as a user of <%-settings.WEBSITE_NAME%> Services (whether based in contract, tort, statute, fraud, misrepresentation, or any other legal theory, and whether the claims arise during or after
                        the termination of this Agreement) will be determined by mandatory final and binding individual (not class) arbitration. You and <%-settings.WEBSITE_NAME%> further agree that the arbitrator shall have the exclusive power to rule on his or her own jurisdiction,
                        including without limitation any objections with respect to the existence, scope or validity of the Agreement to Arbitrate, or to the arbitrability of any claim or counterclaim. Arbitration is more informal than a lawsuit in court.
                        THERE IS NO JUDGE OR JURY IN ARBITRATION, AND COURT REVIEW OF AN ARBITRATION AWARD IS LIMITED. There may be more limited discovery than in court. The arbitrator must follow this agreement and can award the same damages and relief as
                        a court (including, if applicable, attorney fees), except that the arbitrator may not award declaratory or injunctive relief in favour of anyone but the parties to the arbitration. The arbitration provisions set forth in this Agreement
                        will survive termination of this Agreement.</p>
                    <p>48) <span class="terms_fondBold__rI46d">Arbitration Rules.</span> The arbitration shall be subject to the HKIAC Administered Arbitration Rules (HKIAC Rules) in force when the Notice of Arbitration is submitted, as modified by this Agreement.
                        The arbitration will be administered by the Hong Kong International Arbitration Centre (HKIAC). Unless the parties agree otherwise, there shall be only one arbitrator appointed in accordance with the HKIAC Rules. Any arbitration will
                        be conducted in the English language. Regardless of the manner in which the arbitration is conducted, the arbitrator shall issue a reasoned written decision sufficient to explain the essential findings and conclusions on which the
                        decision and award, if any, are based.</p>
                    <p class="terms_fondBold__rI46d">JUDGMENT ON ANY ARBITRAL AWARD MAY BE GIVEN IN ANY COURT HAVING JURISDICTION OVER THE PARTY (OR OVER THE ASSETS OF THE PARTY) AGAINST WHOM SUCH AN AWARD IS RENDERED. TIME FOR FILLING: ANY ARBITRATION AGAINST <%-settings.WEBSITE_NAME%> OPERATORS MUST BE COMMENCED
                        BY FILING A REQUEST FOR ARBITRATION WITHIN ONE (1) YEAR, AFTER THE DATE THE PARTY ASSERTING THE CLAIM FIRST KNOWS OR REASONABLY SHOULD KNOW OF THE ACT, OMISSION OR DEFAULT GIVING RISE TO THE CLAIM; AND THERE SHALL BE NO RIGHT TO ANY
                        REMEDY FOR ANY CLAIM NOT ASSERTED WITHIN THAT TIME PERIOD. THIS ONE YEAR LIMITATION PERIOD IS INCLUSIVE OF THE INTERNAL DISPUTE RESOLUTION PROCEDURE SET FORTH IN THIS AGREEMENT, ABOVE. THERE SHALL BE NO RIGHT TO ANY REMEDY FOR ANY
                        CLAIM NOT ASSERTED WITHIN THAT TIME PERIOD.</p>
                    <p>If applicable law prohibits a one-year limitation period for asserting claims, any claim must be asserted within the shortest time period permitted by applicable law.</p>
                    <p>49) <span class="terms_fondBold__rI46d">Governing Law.</span> This Agreement and the Legal Documents shall be governed by the laws of England and Wales, without reference to its conflict of laws provisions.</p>
                    <p>50) <span class="terms_fondBold__rI46d">Class Action Waiver.</span> You and <%-settings.WEBSITE_NAME%> agree that any claims relating to this Agreement or to your relationship with <%-settings.WEBSITE_NAME%> as a user of <%-settings.WEBSITE_NAME%> Services (whether based in contract, tort, statute, fraud,
                        misrepresentation, or any other legal theory, and whether the claims arise during or after the termination of this Agreement) shall be brought against the other party in an arbitration on an individual basis only and not as a plaintiff
                        or class member in a purported class or representative action. You and <%-settings.WEBSITE_NAME%> further agree to waive any right for such claims to be brought, heard, or arbitrated as a class, collective, representative, or private attorney general action,
                        to the extent permissible by applicable law. Combining or consolidating individual arbitrations into a single arbitration is not permitted without the consent of all parties, including <%-settings.WEBSITE_NAME%>.</p>
                    <p class="terms_fondItalic__ibmeH">Know-Your-Customer and Anti-Money-Laundering Policy</p>
                </div>
                <div class="terms_infoContent__CmoEg">
                    <div class="terms_title__xSY29"><span class="terms_line__Fd3Q2"></span><span>Identity Information</span></div>
                    <p>51) We ensure that we will comply with the Know-Your-Customer and Anti-Money-Laundering laws and regulations, and will not knowingly violate the Know-Your-Customer and Anti-Money-Laundering policies. To the extent of our reasonable control,
                        we will adopt necessary measures and technology to provide you with services that are safe and secure, to protect you against the loss caused by money laundering to the greatest extent possible. The contents of Know-Your-Customer and
                        Anti-Money-Laundering policies are as follows:</p>
                    <div class="terms_secondary__muEnv">
                        <p>(a) We promulgate and update Know-Your-Customer (KYC) and Anti-Money-Laundering (AML) policies to meet the standards set by relevant laws and regulations;</p>
                        <p>(b) We promulgate and update some parts of the guidelines and rules in connection with the operation of this Website, where our staff will provide services in accordance with these guidelines and rules;</p>
                        <p>(c) We design and complete the procedures for internal monitoring and trade control, such as rigorous identity authentication procedures, and forming a professional team responsible for anti-money laundering;</p>
                        <p>(d) We adopt a risk-prevention-based approach to carry out due diligence and continuous supervision in connection with customers;</p>
                        <p>(e) Review and regularly inspect existing trades;</p>
                        <p>(f) To report suspicious trades to the competent authorities;</p>
                    </div>
                    <p>52) You must provide <%-settings.WEBSITE_NAME%> with complete and accurate identity information and supporting documents, including, but not limited to, proof of identity, proof of address, contact details, etc.</p>
                    <p>53) <%-settings.WEBSITE_NAME%> will undertake due diligence to verify information provided by you, in circumstances where <%-settings.WEBSITE_NAME%>, in its absolute sole discretion, deems such information may be inaccurate or incomplete, <%-settings.WEBSITE_NAME%> shall be entitled to request further
                        supporting documents from you in order to ensure the truthfulness and accuracy of User identity. You agree and understand that failure to provide these documents may result in full or partial restrictions on using <%-settings.WEBSITE_NAME%> Services.</p>
                    <p>54) You hereby undertake to update in a timely manner to any changes in your identity information to ensure that the identity information provided by you are up-to-date, accurate, and complete. It is your responsibility to make sure that
                        any identity information and supporting documents thereof provided by you are most up-to-date and valid.</p>
                    <p>55) In accordance with the laws and regulations of relevant jurisdictions and in light of the nature of entities concerned, the content of your information as it is collected by us may vary.</p>
                    <p>56) In principle, we will collect the following information of yours if you have registered as an individual:</p>
                    <div class="terms_secondary__muEnv">
                        <p>(a) Basic personal information: your name, address (and permanent address, if the two are different), date of birth and nationality, and other available information. Identity authentication shall be based on documents issued by the
                            official or other similar authorities, such as passports, identity cards or other identity documents as are required and issued by relevant jurisdictions.</p>
                        <p>(b) Valid photo: before you sign up, you must provide a photograph showing you holding your identity document in front of your chest; and</p>
                        <p>(c) Contact information: telephone/mobile phone number and valid email address.</p>
                    </div>
                    <p>57) If you are a company or any other type of legal entity, we will collect the following information of yours to determine the final beneficiary of your account or your trust account.</p>
                    <div class="terms_secondary__muEnv">
                        <p>(a) Your corporation enrollment and registration certificates of the company; a copy of the articles of association and memorandum of the company;</p>
                        <p>(b) The detailed certification materials of the ownership structure and ownership description of the company, and the decision of the board of directors on designating the authorized agent of the company responsible for the opening
                            and execution of the account of the company within the website;</p>
                        <p>(c) The identity documents of the directors, major shareholders of the company as well as the authorized signatory for the company&#x27;s account with the website, as required in accordance with relevant rules;</p>
                        <p>(d) The company&#x27;s main business address, and the company&#x27;s mailing address if it is different from the main business address of the company</p>
                        <p>(e) Other certification documents, documents issued by competent authorities and other documents we may deem necessary in light of the laws and regulations of relevant jurisdictions and in light of the specific nature of your entity.</p>
                    </div>
                    <p>58) We only accept supporting documents pertaining to your identity information in English; if your identity information is not in English, you shall have your identity information translated into English and duly notarized.</p>
                    <div class="terms_secondary__muEnv">
                        <p>(a) You are required to provide both the front and back sides of your identity documents.</p>
                        <p>(b) You are required to provide us with a photograph showing you holding your identity documents in front of your chest.</p>
                        <p>(c) Copies of certification documents shall be checked against the originals thereof. Nonetheless, if a trusted and suitable certified person can prove that such copies are accurate and comprehensive duplicates of the originals thereof,
                            such copies shall be deemed as acceptable. Such certifiers include ambassadors, members of the judiciary, magistrates, etc.; and</p>
                        <p>(d) The identification of the ultimate beneficiary and controller of the account shall be based on the determination of which individuals ultimately own or control the direct customer and/or the determination that the ongoing trade
                            is performed on the behalf of others. If you are a business enterprise, the identity of major shareholders thereof (for example, those holding 10 % or more of the voting equity in such business enterprise) shall be verified.</p>
                    </div>
                </div>
                <div class="terms_infoContent__CmoEg">
                    <div class="terms_title__xSY29"><span class="terms_line__Fd3Q2"></span><span>AML</span></div>
                    <p>60) <%-settings.WEBSITE_NAME%> will employ reasonable measures to supervise trading activities carried out on the platform in order to detect and prevent suspicious trading activities. In the meantime, <%-settings.WEBSITE_NAME%> shall have the right to take appropriate actions,
                        as <%-settings.WEBSITE_NAME%> may, in its absolute sole discretion, determine, to respond to any suspicious activities carried out by the Users, including:</p>
                    <div class="terms_secondary__muEnv">
                        <p>(a) We may report suspicious trading activities to the regulating authorities to stay in compliance with applicable laws and regulations;</p>
                        <p>(b) We constantly set and adjust daily trading and cash withdrawal limits based on security requirements and actual state of trade;</p>
                        <p>(c) We may temporarily restrict trading activity(ies) and freeze any Account pending further investigations, in order to protect Assets of the User and <%-settings.WEBSITE_NAME%>, and/or to comply with any ongoing judicial/regulatory investigations and/or
                            requests;</p>
                        <p>(d) We constantly monitor your activities and trading behaviour. If trading occurs too frequently in an account registered by you, or is beyond circumstances reasonable to you, <%-settings.WEBSITE_NAME%> will assess and determine whether such trades are
                            suspicious.</p>
                    </div>
                    <p>61) If we identify a specific trade as suspicious on the basis of our assessment, we may adopt such restrictive measures as suspending trade or denying trade, and if it is possible, we may even reverse trade as soon as possible, and report
                        to competent authorities, without, however, notifying you;</p>
                </div>
                <div class="terms_infoContent__CmoEg">
                    <div class="terms_title__xSY29"><span class="terms_line__Fd3Q2"></span><span>Sanctions</span></div>
                    <p>62) We reserve the right to reject registration applications by applicants that do not comply with the international standards against money laundering or who may be regarded as political and public figures; we reserve the right to suspend
                        or terminate a trade identified as suspicious based on our own assessment, which, however, does not breach any of our obligations and duties to you. For details on locations where <%-settings.WEBSITE_NAME%> refuses registration or to provide Services, kindly
                        refer to section entitled &#x27;Prohibited Countries&#x27;, above.</p>
                </div>
                <div class="terms_infoContent__CmoEg">
                    <div class="terms_title__xSY29"><span class="terms_line__Fd3Q2"></span><span>Miscellaneous</span></div>
                    <p>63) <span class="terms_fondBold__rI46d">Independent Parties.</span> <%-settings.WEBSITE_NAME%> is an independent contractor but not an agent of you in the performance of this Agreement. this Agreement shall not be interpreted as facts or evidence of an association,
                        joint venture, partnership, or franchise between the parties.</p>
                    <p>64) <span class="terms_fondBold__rI46d">Entire Agreement.</span> this Agreement constitute the entire agreement between the parties regarding use of <%-settings.WEBSITE_NAME%> Services and will supersede all prior written or oral agreements between the parties.
                        No usage of trade or other regular practice or method of dealing between the parties will be used to modify, interpret, supplement, or alter the terms herein.</p>
                    <p>65) <span class="terms_fondBold__rI46d">Interpretation and Revision.</span> <%-settings.WEBSITE_NAME%> reserves the right to alter, revise, modify, and/or change this Agreement at any time. All changes will take effect immediately upon being published on <%-settings.WEBSITE_NAME%>
                        websites. It is your responsibility to regularly check relevant pages on our websites/applications to confirm the latest version of this Agreement. If you do not agree to any such modifications, your only remedy is to terminate your
                        usage of <%-settings.WEBSITE_NAME%> Services and cancel your account. You agree that, unless otherwise expressly provided in this Agreement, <%-settings.WEBSITE_NAME%> will not be responsible for any modification or termination of <%-settings.WEBSITE_NAME%> Services by you or any third party, or
                        suspension or termination of your access to <%-settings.WEBSITE_NAME%> Services.</p>
                    <p>66) <span class="terms_fondBold__rI46d">Language &amp; Translations:</span> this Agreement may, at <%-settings.WEBSITE_NAME%>’s sole and absolute discretion, be translated into a language other than the English language. You agree that any such translation
                        shall only be for your convenience and the English text shall prevail in the event of any ambiguity, discrepancy or omission as between the English text and any translated text.</p>
                    <p>67) <span class="terms_fondBold__rI46d">Force Majeure.</span> <%-settings.WEBSITE_NAME%> will not be liable for any delay or failure to perform as required by this Agreement because of any cause or condition beyond <%-settings.WEBSITE_NAME%>’s reasonable control.</p>
                    <p>68) <span class="terms_fondBold__rI46d">Severability.</span> If any portion of this Agreement is held invalid or unenforceable, such invalidity or enforceability will not affect the other provisions of this Agreement, which will remain
                        in full force and effect, and the invalid or unenforceable portion will be given effect to the greatest extent possible.</p>
                    <p>69) <span class="terms_fondBold__rI46d">Assignment.</span> You may not assign or transfer any right to use <%-settings.WEBSITE_NAME%> Services or any of your rights or obligations under this Agreement without prior written consent from <%-settings.WEBSITE_NAME%>, including any right
                        or obligation related to the enforcement of laws or the change of control. <%-settings.WEBSITE_NAME%> may assign or transfer any or all of its rights or obligations under this Agreement, in whole or in part, without notice or obtaining your consent or approval.</p>
                    <p>70) <span class="terms_fondBold__rI46d">Waiver.</span> The failure of one party to require performance of any provision will not affect that party’s right to require performance at any time thereafter. At the same time, the waiver of one
                        party to seek recovery for the other party’s violation of this Agreement or any provision of applicable terms shall not constitute a waiver by that party of any subsequent breach or violation by the other party or of the provision
                        itself.</p>
                    <p>71) <span class="terms_fondBold__rI46d">Third-Party Website Disclaimer.</span> Any links to third-party websites from <%-settings.WEBSITE_NAME%> Services does not imply endorsement by <%-settings.WEBSITE_NAME%> of any product, service, information or disclaimer presented therein,
                        nor does <%-settings.WEBSITE_NAME%> guarantee the accuracy of the information contained on them. If you suffer loss from using such third-party product and service, <%-settings.WEBSITE_NAME%> will not be liable for such loss. In addition, since <%-settings.WEBSITE_NAME%> has no control over the terms
                        of use or privacy policies of third-party websites, you should read and understand those policies carefully.</p>
                </div>
            </div>
        </section>
    </main>
    <% include ./common/ejs/front/footer.ejs%>
</div>

<div class="preloader preloader-alt no-split"><span class="spinner spinner-alt"><img class="spinner-brand" src="front/images/logo-full-white.png" alt=""></span></div>

<script src="front/assets/js/jquery.bundle.js?ver=210"></script>
<script src="front/assets/js/scripts.js?ver=210"></script>
<script src="front/assets/js/charts.js?ver=210"></script>
<%-settings.TIDIO_URL%>
</body>

</html>